<% title "About" %>
<div class="primary section">
    <h1 class="underline">
        <span><%= yield(:title) %></span>
        <div class="links">
            <a class="small" href="/contact">Contact Us</a>
        </div>
    </h1>
    <div class="content">
        <p>The Global Space Balloon Challenge (GSBC) is the coming together of people around the world to simultaneously fly <a href="/what-is-a-hab">high altitude balloons</a> from every corner of the globe, celebrating an age where anyone can reach the edge of space for a few hundred dollars and a few weekends of work. By providing a specified launch window and central online platform, the GSBC enables teams to showcase their unique cultures while working together to educate the next generation and push the boundaries of what is technologically feasible.</p>
        <p>During the inaugural GSBC, 60 teams from 18 countries on 6 continents flew together, helping each other and sharing their stories every step of the way. People of all backgrounds, ages, and walks of life participated, many of whom had never touched a high altitude balloon or studied engineering before the GSBC. Now it’s your turn - <a href="/login">join the fun</a> and show the world what you can do!</p>
    </div>
    <div class="alternate">
        <div class="img">
           <img src="/about/one.jpg">
        </div>
        <div class="text">
            <h2>Community</h2>
            <p>The fundamental goal of the GSBC is to build a community where everyone can learn from each other and build on each other’s accomplishments.</p>
            <p>We attract students and teachers, amateurs and professionals, children and their parents.</p>
            <p>Our <a href="http://community.balloonchallenge.org">forums</a> let you meet new people and collaborate.</p>
            <p>Our <a href="/teams">launch map</a> will make you realize that your work is part of a larger movement.</p>
            <p>Our beginner <a href="/tutorials">tutorials</a> will get you started while our advanced ones will take you to the next level. Our <a href="/get-involved#prizes">prizes</a> will reward those who do the most to get their communities involved.</p>
        </div>
    </div>
    <div class="alternate">
        <div class="img">
            <img src="/about/two.jpg">
        </div>
        <div class="text">
            <h2>Education</h2>
            <p>The process of flying a high altitude balloon all the way to space and bringing it back not only teaches the basics of science and engineering, but also teaches critical lessons of teamwork and organization, essential for any career path.</p>
            <p>We work closely with parents, teachers, professors, and other education organizations to help them build high altitude balloons with their students and then fly them safely.</p>
            <p>It’s our goal to inspire as many students as possible, so we’ll do our best to provide any support you might need. Get started on the <a href="/education">educators page</a> and let us know how we can help.</p>
        </div>
    </div>
    <div class="alternate">
        <div class="img">
            <img src="/about/three.jpg">
        </div>
        <div class="text">
            <h2>Innovation</h2>
            <p>We aim to make high altitude balloons even more capable platforms for scientific discovery and technological development by bringing existing high altitude ballooning communities together with each other and with new people and ideas.</p>
            <p>With the support of some of the biggest technology companies, we have developed a series of <a href="/prizes">prizes</a> to motivate teams to push the envelope and solve problems we believe are key to further increasing the usefulness of balloons.</p>
            <p>At the same time, the prizes reward teams that innovate through collaboration, in order to foster a wider community and speed the pace of development.</p>
        </div>
    </div>
    <h2 id="people" class="underline">People</h2>
    <div class="content">
        <div class="people">
            <ul>
                <li class="person">
                        <img src="/people/david.jpg">
                        <div class="info">
                            <p class="name">David Gerson, President</p>
                            <p class="more">David Gerson co-founded the GSBC as a student at Stanford University, where he received his BS and MS in Aerospace Engineering. Now, David coordinates the GSBC team and works with participants to ensure they have the best experience possible. David is also a Propulsion Engineer at SpaceX, working on the USA’s next generation of launch vehicles.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/nathan.png">
                        <div class="info">
                            <p class="name">Nathan Hamet, VP of Technology</p>
                            <p class="more">Nathan has organized the technical side of the GSBC since its inception, creating tutorials and answering any technical questions that teams may have. He joined the high altitude balloon team at the University of Michigan and immediately fell in love with the imagery and technology, leading him to get a BSE in Meteorology and then pursue an MS in Systems Engineering. Nathan will soon be an engineer at Lockheed Martin, coordinating the construction of satellites.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/lawrence.jpg">
                        <div class="info">
                            <p class="name">Lawrence Leung, VP of Education and Outreach</p>
                            <p class="more">A native Australian, Lawrence co-founded the GSBC while receiving his MS at Stanford University in Aerospace Engineering. Now, Lawrence works on developing and implementing the GSBC’s education and outreach strategies, trying to get as many students involved as possible. Lawrence is also an engineer at Planet Labs, working on flocks of small satellites.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/duncan.png">
                        <div class="info">
                            <p class="name">Duncan Miller, VP of Community</p>
                            <p class="more">Duncan is a graduate student at the Massachusetts Institute of Technology, where he co-founded the MIT Space Balloon Team to participate in GSBC 2014. Now, Duncan has joined the GSBC team to grow and strengthen the GSBC’s international community. Duncan will soon be joining SpaceX’s Guidance, Navigation, and Control team, where he’ll help make the rocket fly and land itself more efficiently.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/robert.jpg">
                        <div class="info">
                            <p class="name">Robert Jackson, VP of Infrastructure and Branding</p>
                            <p class="more">Robert helped spark the idea of the GSBC by showing off pictures from his launch to the rest of the team while pursuing his BS in Mechanical Engineering at Stanford University. From the beginning, he has managed the online infrastructure, focusing particularly on the website and email, and done all of the branding. Robert will also soon be joining the Propulsion team at SpaceX.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/luke.jpg">
                        <div class="info">
                            <p class="name">Luke Wright, Back-End Web Developer</p>
                            <p class="more"><a href="http://simplyluke.com">Luke</a> is a website developer from Austin, Texas, where he works for a New York City agency, helps lead Austin's <a href="http://fwd.us">FWD.us</a> 2.0 chapter, and competes in numerous hackathons. He joined the GSBC to help build out the new website for GSBC 2015, focusing on the website’s structure to make it easier for teams to connect and collaborate.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/krish.jpg">
                        <div class="info">
                            <p class="name">Krish Dholakiya, Front-End Web Developer</p>
                            <p class="more"><a href="http://itskrish.co">Krish</a> is a web developer based in Denver, Colorado who works with <a href="http://studentrnd.org">StudentRND</a> to organize <a href="http://codeday.org">CodeDay</a>, is working on <a href="http://opensourceschool.co">openSourceSchool</a>, and attends hackathons country-wide. He joined the GSBC to help build out the new website for GSBC 2015, particularly focusing on the user experience and interface.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/default.gif">
                        <div class="info">
                            <p class="name">Will Puerner, Director of Technology</p>
                            <p class="more">Will is a student at the University of Michigan, where he manages the Balloon Recovery and Satellite Testbed student group. While he works to develop Michigan’s new trackers and zero pressure technology for their entry into GSBC 2015, he also helps develop tutorials and other technical content for the GSBC’s website.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/charlie.jpg">
                        <div class="info">
                            <p class="name">Charlie Cox, Director of External Relations</p>
                            <p class="more">Charlie Cox co-founded the GSBC while pursuing his BS in Aerospace Engineering at Stanford University, where he also founded the school’s high altitude balloon team. Charlie is responsible for interfacing with the existing HAB communities worldwide and making the GSBC as open and receptive as possible. Charlie has spent the past few summers working for SpaceX, L’Garde, Meggitt Sensing, and Fuscoe Engineering and will be heading to grad school next year.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/sam.jpg">
                        <div class="info">
                            <p class="name">Sam Johnson, Director of Company Relations</p>
                            <p class="more">Sam Johnson has launched over 40 high altitude balloons, including one as lead of Earth to Sky Calculus for GSBC 2014. Now a freshman at Stanford University, Sam continues to fly balloons and has joined the GSBC team to connect and partner with companies to raise awareness about HABing and support the community of innovators.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/corey.jpg">
                        <div class="info">
                            <p class="name">Corey Soap, Director of Digital Media</p>
                            <p class="more">Corey Soap is a sophomore at Stanford University and has brought to the GSBC a passion for effectively communicating ideas through digital media. He has several years of experience with various organizations and starting with the GSBC 2015 promo video, is excited to increase awareness about HABing and create high quality content for the HAB community.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/john.jpg">
                        <div class="info">
                            <p class="name">John Flaig, Contributing HAB Expert</p>
                            <p class="more">John Flaig lives in Wisconsin, USA, and has been experimenting with HAB photography across the US since being inspired by Felix Baumgartner’s jump from Red Bull Stratos in 2012. He led the development of the “HAB Photography How To” tutorial and you can find more photos and posts from him at his <a href="http://NearSpaceBallooning.com">website</a>.</p>
                        </div>
                </li>
                <li class="person">
                        <img src="/people/anthony.jpg">
                        <div class="info">
                            <p class="name">Anthony Stirk, Contributing HAB Expert</p>
                            <p class="more">Anthony Stirk is an active member of the UKHAS community and a veteran of many launches. He runs <a href="http://ava.upuaut.net/store/">HAB supplies</a> and is behind the hardware design of the Pi In The Sky and Habduino boards. Anthony has contributed tremendously to the technical tutorials, bringing in most of the information about various UKHAB systems, and helped develop the prizes and judging criteria.</p>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</div>
