<% title "About" %>
<div class="primary section">
    <h1 class="underline">
        <span><%= yield(:title) %></span>
        <div class="links">
            <a class="small" href="/contact">Contact Us</a>
        </div>
    </h1>
    <div class="content">
        <p>The Global Space Balloon Challenge (GSBC) is the coming together of people around the world to simultaneously fly <a href="/what-is-a-hab">high altitude balloons</a> from every corner of the globe, celebrating an age where anyone can reach the edge of space for a few hundred dollars and a few weekends of work. By providing a specified launch window and central online platform, the GSBC enables teams to showcase their unique cultures while working together to educate the next generation and push the boundaries of what is technologically feasible.</p>
        <p>During the inaugural GSBC, 60 teams from 18 countries on 6 continents flew together, helping each other and sharing their stories every step of the way. People of all backgrounds, ages, and walks of life participated, many of whom had never touched a high altitude balloon or studied engineering before the GSBC. Now it’s your turn - <a href="/login">join the fun</a> and show the world what you can do!</p>
    </div>
    <div class="alternate">
        <div class="img">
           <img src="/about/one.jpg">
        </div>
        <div class="text">
            <h2>Community</h2>
            <p>The fundamental goal of the GSBC is to build a community where everyone can learn from each other and build on each other’s accomplishments.</p>
            <p>We attract students and teachers, amateurs and professionals, children and their parents.</p>
            <p>Our <a href="http://community.balloonchallenge.org">forums</a> let you meet new people and collaborate.</p>
            <p>Our <a href="/teams">launch map</a> will make you realize that your work is part of a larger movement.</p>
            <p>Our beginner <a href="/tutorials">tutorials</a> will get you started while our advanced ones will take you to the next level. Our <a href="/get-involved#prizes">prizes</a> will reward those who do the most to get their communities involved.</p>
        </div>
    </div>
    <div class="alternate">
        <div class="img">
            <img src="/about/two.jpg">
        </div>
        <div class="text">
            <h2>Education</h2>
            <p>The process of flying a high altitude balloon all the way to space and bringing it back not only teaches the basics of science and engineering, but also teaches critical lessons of teamwork and organization, essential for any career path.</p>
            <p>We work closely with parents, teachers, professors, and other education organizations to help them build high altitude balloons with their students and then fly them safely.</p>
            <p>It’s our goal to inspire as many students as possible, so we’ll do our best to provide any support you might need. Get started on the <a href="/education">educators page</a> and let us know how we can help.</p>
        </div>
    </div>
    <div class="alternate">
        <div class="img">
            <img src="/about/three.jpg">
        </div>
        <div class="text">
            <h2>Innovation</h2>
            <p>We aim to make high altitude balloons even more capable platforms for scientific discovery and technological development by bringing existing high altitude ballooning communities together with each other and with new people and ideas.</p>
            <p>With the support of some of the biggest technology companies, we have developed a series of <a href="#">prizes</a> to motivate teams to push the envelope and solve problems we believe are key to further increasing the usefulness of balloons.</p>
            <p>At the same time, the prizes reward teams that innovate through collaboration, in order to foster a wider community and speed the pace of development.</p>
        </div>
    </div>
</div>
