<% title "About" %>
<div class="primary section">
    <h1 class="underline"><%= yield(:title) %></h1>
    <div class="alternate">
        <div class="text">
            <h2>Aspect #1</h2>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        </div>
        <div class="img">
            <img src="http://placehold.it/300">
        </div>
    </div>
    <div class="alternate">
        <div class="img">
            <img src="http://placehold.it/300">
        </div>
        <div class="text">
            <h2>Aspect #2</h2>
            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
        </div>
    </div>
    <div class="alternate">
        <div class="text">
            <h2>Aspect #3</h2>
            <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
        </div>
        <div class="img">
            <img src="http://placehold.it/300">
        </div>
    </div>
</div>
