<div class="primary section">
    <div class="content">
        <div class="product">
            <div class="image">
                <div class="slideshow">
                    <div><img src="http://placehold.it/500"></div>
                    <div><img src="http://placehold.it/500"></div>
                    <div><img src="http://placehold.it/500"></div>
                </div>
            </div>
            <div class="info">
                <h2 class="underline">Product Name</h2>
                <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
                <a class="btn noShadow" href="#">Purchase</a>
            </div>
        </div>
    </div>
</div>
