<div class="primary section">
    <div class="content">
        <div class="product">
            <div class="info fifty">
                <h2 class="underline">Balloon</h2>
                <p>The balloon provides the lifting force that will take your payload into the atmosphere, usually by hoisting the rope that all components are tied to (the so called “payload train”). Balloons come in many sizes and materials, but the most common are burstable latex envelopes.</p>
                <p>Balloon sizes are given by the gram-mass of the balloon. The size for your balloon should depend on how high you want you payload to get, how long you want it to be flying, and how far you want to travel to retrieve your payload after it lands. There exist online calculators or references that can help in sizing your balloon like this one. Larger balloons will go higher, stay aloft longer, and travel farther. A safe size for your first launch would be 600 or 800 grams.</p>
                <p>The oil from your hands can weaken the latex and cause a premature burst. This is why balloons should be handled with clean gloves (rubber gloves work well). Additionally, avoid pinching the thin balloon lining as this can create micro-tears that can slowly leak helium or propagate into large rips. Always handle the balloon with an open hand when possible. See our balloon inflation page here for more information!</p>
                <p>Advanced balloonists may want to consider “zero pressure balloons” which are not latex and do not pop at high altitudes, instead maintaining an equilibrium height. This is accomplished with a vent at the bottom of the balloon envelope, which slowly leaks helium as the gas expands while the balloon climbs to higher altitudes. Zero pressure balloons can stay aloft for hours, days, or even weeks, which means that a reliable flight termination system should be utilized for zero pressure flights. In addition, the distance that a zero pressure balloon travels can be much greater than that of a latex balloon, so chase operations can be a significant undertaking.</p>
                <h3 class="underline smaller">Helpful Tools</h3>
                <ul>
                    <li><a href="http://www.projectaether.org/main/education/balloon-inflation.html">Project Aether Balloon sizing/inflation tool</a></li>
                    <li><a href="http://habhub.org/calc/">Habhub balloon sizing calculator</a></li>
                </ul>
                <h3 class="underline smaller">Suggested Suppliers</h3>
                <ul>
                    <li>
                        <a href="http://www.hwoyee.com/images.aspx?fatherId=11010101&msId=1101010101&title=0">Hwoyee</a>
                        <ul>
                            <li>The record holders for highest HAB flights per ARHAB all used 1600g Hwoyee balloons.</li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://www.randomengineering.co.uk/Random_Aerospace/Balloons.html">Random Engineering</a>
                        <ul>
                            <li>Many different balloons from different retailers worldwide.</li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://www.projectaether.org/main/store.html">Project Aether</a>
                        <ul>
                            <li>40 ft, 30 ft, 20ft, 8ft latex balloons</li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://www.scientificsales.com/Meteorological-Weather-Sounding-Balloon-s/25.htm">Scientific Sales</a>
                    </li>
                    <li>
                        <a href="http://kaymontballoons.com/">Kaymont Balloons</a>
                    </li>
                    <li>
                        <a href="http://www.high-altitude-balloon.com/meteorological-science-balloon">SSTL Meteorological Balloon Supply</a>
                        <ul>
                            <li>300g envelope for $28.50</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="image fifty">
                <div class="slideshow">
                    <div><img src="/balloon/3.jpg"></div>
                    <div><img src="/balloon/1.jpg"></div>
                    <div><img src="/balloon/2.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
