<% title "Contact Us" %>
<div class="primary section">
    <div class="content">
        <div class="fifty">
            <h2 class="underline medium">Contact Us</h1>
            <form method="POST" action="http://forms.brace.io/spaceballoonchallenge@gmail.com">
                <input type="text" name="Name" placeholder="Name" required>
                <input type="email" name="_replyto" placeholder="Email Address" required>
                <input type="text" name="Team" placeholder="Team Name" required>
                <textarea name="Message" data-placeholder="Your Message" placeholder="Your Message"></textarea>
                <input type="submit" class="btn" value="Submit">
            </form>
        </div>
        <div class="fifty">
            <h2 class="underline medium">Social Media</h1>
            <ul class="contact">
                <li>
                    <p>
                        <strong class="label">Email:</strong>
                        <a href="mailto:spaceballoonchallenge@gmail.com">spaceballoonchallenge@gmail.com</a>
                    </p>
                </li>
                <li>
                    <p>
                        <strong class="label">Facebook:</strong>
                        <a href="http://facebook.com/balloonchallenge">facebook.com/balloonchallenge</a>
                    </p>
                </li>
                <li>
                    <p>
                        <strong class="label">Twitter:</strong>
                        <a href="http://twitter.com/GSBChallenge">@GSBChallenge</a>
                    </p>
                </li>
                <li>
                    <p>
                        <strong class="label">YouTube:</strong>
                        <a href="https://www.youtube.com/channel/UCgbdD2rbiC7c1cNWxinDOqw">Global Space Balloon Challenge</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
