<div class="primary section">
    <h1 class="underline">Cost Breakdown</h1>
    <div class="content">
        <p>Below is a cost breakdown of all of the basic supplies that are typical for a launch of a HAB, based on prices in the United States (for a description of supplies see our <a href="/supplies">Supplies List</a>. This is meant to give you an idea of what you can expect to spend if you don’t have any of the necessary materials already. We picked out devices that are popular in the HAB community for beginners, such as the SPOT Gen3 tracker and Canon PowerShot A2600 camera, but these are absolutely not the only components on the market and may not be the best for your applications. </p>
        <p>Your final cost will be greater or lower based on things like where you live, what you decide to make yourself instead of buy, what tracking method you use and which trackers you buy, extras features for your payload, supplementary launch equipment, and the shipping costs of online orderables.</p>
        <p>Note that the majority of these costs are one-time upfront costs for parts that can be reused for multiple flights (exceptions are the balloon and helium bottle). </p>
        <figure>
            <img src="/cost.png">
        </figure>
        <p>** A minimum of two trackers is recommended in case of tracker failure, especially for first time teams. If you are using an APRS tracker, two trackers are absolutely needed.</p>
        <p>This is undoubtedly a lot of money for the average hobbyist. Luckily, there are many ways in which you can reduce the overall cost of your payload train:</p>
        <ul>
            <li>Building your own equipment such as radar reflectors and payload boxes is often less expensive than buying similar products online. There are plenty of tutorials on our site to help with this and if you need help with anything you can’t find, let us know!</li>
            <li>Sometimes you can get helium tank valves or regulators on loan from a welding supply store or wherever you buy your helium. Check what kind of rental deals your local welding supply store has.</li>
            <li>Using APRS trackers is a great way to avoid the subscription costs for many commercial GPS units. However, these trackers lack the simplicity and ease of use of commercial trackers. Take a look at our tutorial on APRS and amateur radio tracking to see if this method is right for you.</li>
        </ul>
        <p>There are many more ways to cut down costs, and we’ve seen ballooners get pretty creative to save a few bucks. If you have an idea on how to reduce expenses for a balloon flight, head on over to our forum where you can share your thoughts. In a perfect world, ballooning would be accessible to everyone, and reducing costs is a big step in the right direction.</p>
    </div>
</div>
