<% title "Educators" %>
<div class="primary section">
    <h1 class="underline">
        <span>Educators</span>
        <div class="links">
            <a class="small" href="/contact">Contact Us</a>
        </div>
    </h1>
    <div class="content">
        <p>Building, launching, and recovering a High Altitude Balloon (HAB) is much more than just a fun weekend hobby. Accessible to students of all ages and skill levels, a HAB might be an elementary school students’ first introduction to science and engineering; a high school students’ first taste of what they might want to study in college, or perhaps a college students’ first opportunity to test theory learned in class to create a control system. Regardless of background, our team at the GSBC truly believes that HABs are a powerful discovery platform to inspire the next generation of scientists and engineers.</p>
        <p><span class="big">A High Altitude Balloon is an engaging, hands-on project that fosters imagination and innovation</span>. HABs give students the opportunity to dream up a solution and then create it with their own hands. The path to a successful HAB experiment offers students an experience analogous to Science and Engineering practices they might one day encounter as working professionals. It gives students a taste of what its like to take a product through the entire engineering process: imagining, designing, prototyping, and testing. Education standards around the world are built on the premise of research and evidence-based learning, and HABs offer this in an informal setting that supplements classroom learning, where students can work on a rewarding project with their friends or even family.</p>
        <div class="tripleImg">
            <img src="http://placehold.it/500">
            <img src="http://placehold.it/500">
            <img src="http://placehold.it/500">
        </div>
        <p><span class="big">Creating a High Altitude Balloon experiment is easier than it has ever been before</span>. Even just five years ago, the realm of HABs was limited to domain of enthusiasts and experts. But the availability of new, easy-to-learn tools - such as cheap microcontrollers, smartphones, and 3D printing - has made the entry point into high altitude ballooning lower than ever. GSBC 2014 saw students of all ages and skill levels participate: everyone from elementary school students in the U.S., high school students in Norway and university students in Brazil. The HABs designed by students ranged from simple launches to highly sophisticated data-logging experiments, and were built using parts like Arduinos, Android phones, point-and-shoot cameras, off-the-shelf GPS trackers, and 3D-printed parts.</p>
        <div class="tripleImg">
            <img src="http://placehold.it/500">
            <img src="http://placehold.it/500">
            <img src="http://placehold.it/500">
        </div>
        <p><span class="big">For GSBC 2015, we’ve worked hard to make sure that even more students can experience the excitement and reward of High Altitude Balloons</span>. We’ve introduced new aspects to allow more students to explore what HABs have to offer. Our <a href="/tutorials">tutorials</a> page details the components needed for a HAB and how to go about building your balloon. For those who might not have the access to resources to participate in a full HAB launch, we’ve introduced the <a href="/get-involved">Hosted Payloads Program</a>. This program allows students to create self-contained experiments that are then sent to teams that are carrying-out a full launch who will carry them in addition to their own payload. For students (and parents/educators!) who are interested in carrying out a full launch but are worried they don’t have the know-how, we’re re-introducing the <a href="/get-involved">Balloon Buddies Program</a>. This program pairs inexperienced teams with experienced teams around the world, and provides a direct way to find the help when you need it. These program are in addition to the <a href="http://community.balloonchallenge.org">community forums</a> that will be open to everyone to ask questions and share knowledge. Finally, as with the last GSBC, entering prize challenges is not a requirement but the 2015 challenge also features a number of new <a href="/get-involved#prizes">prizes</a> that reward innovation and creative problem solving, not just technical challenges that depend on successful launches.</p>
        <div class="tripleImg">
            <img src="http://placehold.it/500">
            <img src="http://placehold.it/500">
            <img src="http://placehold.it/500">
        </div>
        <p><span class="big">The GSBC is run by volunteers who are passionate about engineering and inspiring the next generation</span>. We’re not a profit-making organization, or trained educators in engineering and science, nor do we pretend to be. The GSBC team is made up of young engineering students and recent college graduates who all found their passion through hands-on projects like HABs. Every individual remembers seeing the images from their first HAB launch - the curvature of the earth, the thin blue atmosphere, and the blackness of space - images that were the result of something they had built themselves. Our goal at the GSBC is to give students opportunity to experience this same excitement and reward, and hopefully inspire the next generation of brilliant minds that will shape the future and make a difference in the world.</p>
        <p><span class="big">We’re here to help</span>. Educators around the world are already working to integrate high altitude balloon data into their classrooms and several websites and companies offer ideas for how to do this. We want to bring all of this together into one central location to help educators everywhere find the content that is best for their students. In the next weeks and months, we’ll be putting more information and content on our site - so please stay tuned. If you have content of your own that you’d like to share, have specific questions or needs, or just want to brainstorm ways to integrate this into your classroom, please don’t hesitate to <a href="/contact">contact us</a> directly so that we can work together to inspire your students.</p>
        <p>Stay tuned for more information...</p>
    </div>
</div>
