<% title "FAQs" %>
<div class="primary section">
    <h1 class="underline">Frequently Asked Questions (FAQs)</h1>
    <div class="content">
        <ul class="faqs">
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
            <li class="faq">
                <p class="question">What is the meaning of life?</p>
                <p class="answer">I wish I knew</p>
            </li>
        </ul>
    </div>
</div>
