<% title "Flight Predictions" %>
<div class="primary section">
    <h1 class="underline">Flight Predictions</h1>
    <div class="content">
        <div class='blockImg'>
            <img src="/prediction/2.jpg">
        </div>
        <p>Predicted path from the <a href="http://vmr.engin.umich.edu/Model/_balloon/index.py">University of Michigan</a> site.</p>
        <p>More information coming later when the launch window is closer!</p>
        <p>Predicting your balloon’s flight path is a requirement in the USA and the results must be provided to the FAA before launch. Fortunately, there exist many easy-to-use online calculators that can estimate your path. This also makes it easier for your team to narrow down good launch locations and launch times. For example, if the flight path passes over an airport or large body of water, you should consider changing your launch location, your balloon size/fill, or waiting a few days for a different wind profile. Ideally you want to land in open farm land. This allows for a safe and easy recovery.</p>
        <p>The most popular online flight prediction tool is the <a href="http://predict.habhub.org/">Cambridge University Spaceflight Landing Predictor</a> (CUSF). A great alternative is the <a href="http://vmr.engin.umich.edu/Model/_balloon/index.py">new predictor from the University of Michigan</a>. Given a few parameters these sites spit out a predicted flight trajectory overlaid on a 2D interactive map, which can be exported in KML (Keyhole Markup Language) format and loaded into <a href="https://www.google.com/earth/">Google Earth</a>, giving you the ability to dynamically navigate your entire flight path at every altitude over a detailed 3D representation of the planet.</p>
        <p>Predicting your flight path is also great because you can pre-plan a chase route. It would be ideal to be close to your balloon, especially if you are sending commands up. If you are not using public ground stations that is another reason to be within close proximity to your balloon.</p>
        <p>Finally, some prediction sites online offer real-time flight predictions. This allows a team to chase the landing site and not the balloon. How cool would a visual recovery be?! This also mitigates any signal losses below radio horizons.</p>
        <p>Suggested Resources:</p>
        <ul>
            <li>
                <span>Cambridge University Spaceflight Landing Predictor: <a href="http://predict.habhub.org/">http://predict.habhub.org/</a></span>
                <ul>
                    <li>Balloon burst calculator: <a href="http://habhub.org/calc/">http://habhub.org/calc/</a></li>
                </ul>
            </li>
            <li>University of Michigan Flight Prediction Page: <a href="http://vmr.engin.umich.edu/Model/_balloon/index.py">http://vmr.engin.umich.edu/Model/_balloon/index.py</a></li>
            <li>
                <span>University of Wyoming: <a href="http://weather.uwyo.edu/polar/balloon_traj.html">http://weather.uwyo.edu/polar/balloon_traj.html</a></span>
                <ul>
                    <li>A few suggestions on how to use theirs: <a href="http://www.highaltballoon.com/launch-procedures">http://www.highaltballoon.com/launch-procedures</a></li>
                </ul>
            </li>
            <li>University of Southampton, ASTRA High Altitude Ballon Planner: <a href="http://astra-planner.soton.ac.uk/">http://astra-planner.soton.ac.uk/</a></li>
            <li>Edge of Space Sciences, Balloon Track for Windows: <a href="http://www.eoss.org/wbaltrak">http://www.eoss.org/wbaltrak</a></li>
            <li>Near Space Ballooning Totex Balloon Burst Calculator: <a href="http://www.nearspaceballooning.com/files/burst3.xls">http://www.nearspaceballooning.com/files/burst3.xls</a></li>
            <li>Balloon Ascent Rate Calculator: <a href="http://www.wolframalpha.com/widgets/view.jsp?id=f923da86e06443c74ba08731b4f8c4a0">http://www.wolframalpha.com/widgets/view.jsp?id=f923da86e06443c74ba08731b4f8c4a0</a></li>
            <li>Parachute Descent Rate Calculator: <a href="http://www.rocketreviews.com/descent-rate-calculator.html">http://www.rocketreviews.com/descent-rate-calculator.html</a></li>
    </div>
</div>
