<% title "Gallery" %>
<div class="primary section">
    <h1 class="underline">Gallery</h1>
    <div class="content">
        <div class="gallery">
                <h2>Best Photographs 2014</h2>
                <a title="Best Photograph 1st Place: Near Space Ballooning" class="fancybox fifty" href="/gallery/best-photo-1st-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-photo-1st-2014.jpg">
                </a>
                <div class="fifty">
                    <p>Team “Near Space Ballooning” was led by John Flaig, who hails from Brooklyn, New York and presently resides in Milwaukee, Wisconsin. He was assisted by his brother Paul Flaig, who teaches Film and Visual Culture at the University of Aberdeen in Scotland. After observing a growing number of near space balloon videos on YouTube, John was finally inspired to try it himself after watching Felix Baumgartner jump from the Red Bull Stratos in 2012. By day John is a software engineer. He posts photos and blogs on his website: http://NearSpaceBallooning.com.</p>
                    <p>For the GSBC two launches were performed over the U.S. state of Colorado, each with a 2000 gram balloon from two different manufacturers, Totex and Hyowee. Each launch featured four different cameras, including in total a GoPro Hero 3+ Black, Olympus PEN E-PL5, Pentax K-01, Pentax Q7, Canon PowerShot G12, and Canon PowerShot SX260. Balloon tracking was performed very simply with a Spot 2 GPS device set inside a gimbal.</p>
                </div>
                <a title="Best Photograph 2nd Place: Orion 13" class="fancybox fifty" href="/gallery/best-photo-2nd-place-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-photo-2nd-place-2014.jpg">
                </a>
                <div class="fifty">
                    <p>"Eighteen months ago my 12yr old son asked if we could take some photos of the earth from space. After some research we decided a high altitude balloon launch would allow us to take some photos from the edge of space, this would not only be fun but educational at the same time. Many months of research, fact finding and testing prototypes followed and with the help of our sponsors, The Orion Group we were ready to launch our first High Altitude Balloon carrying a payload of two HD video cameras, two Cannon Power Shot cameras(CHDK firmware enhanced) a GPS tracker and backup, along with a flight computer which recorded altitude, temperature, speed and air pressure data.</p>
                    <p>On the 19th April at 9:00am (GMT)  we launched our High Altitude Balloon from Inverness in the Scottish Highlands, it reached an altitude of 100,018 ft in 108min, recording a min temperature of -40C and a min air pressure of 14.2 millibars. The video and pictures captured during the flight surpassed all expectations we had and ensured our first High Altitude Balloon launch was an overwhelming  success. We look forward to the 2nd Global Space Balloon Challenge."  -B. Fraser</p>
                </div>
                <a title="Best Photograph 3rd Place: Balloongineers" class="fancybox fifty" href="/gallery/best-picture-3rd-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-picture-3rd-2014.jpg">
                </a>
                <div class="fifty">
                    <p>For this first GSBC, a group of engineers in Issaquah, Washington, USA got together with their children to form the Balloongineers. They set out to drop a raw chicken egg from the highest altitude ever and recover it unbroken. Not wanting to take the easy way out and go with a kit, the team assembled and programmed their payload completely from scratch, including using three 1080p HD video cameras, one of which allowed them to capture their balloon burst at 84,177 ft. Launch seemed to go perfectly but as the payload returned to Earth, the GPS failed to send back the exact landing location - all team knew was that it was somewhere deep in the snowy wilderness of the Okanagan-Wenatchee National Forest. The attempt at recovery on the day of the launch ended when the access roads were closed due to fallen roads. A week later, some of the team even hiked and skied over 15 miles searching for the payload, but came up empty handed. But still the Balloonogineers refused to give up and thirteen days after launch, they hired a helicopter service to fly them around the area and they found their payload. And guess what? The egg was still completely intact.</p>
                </div>
                <h2>Highest Altitude 2014</h2>
                <a title="Highest Altitude: NC Near Space Research" class="fancybox fifty" href="/gallery/last-year/1.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/1.jpg">
                </a>
                <div class="fifty">
                    <p>NC NEAR SPACE RESEARCH is a loose group of High Altitude Balloon enthusiasts in central North Carolina.  As an organization, we have launched 27 flights to date.  Members have participated in educational launches for schools, scouting, and Maker Faire events.  Each member of the group has their own specialty and reason for flying.</p>
                    <p>We flew three flights for the Global Space Balloon Challenge; starting with a high altitude attempt [NSL-24] the morning of April 18th, and a photography flight [NSL-25] the following morning.  Miserable weather in the Southeast US hampered both of these flights.  As soon as the weather cleared, we then re-launched our high altitude design [NSL-26].</p>
                    <p>Both of the high altitude flights were based off of our successful NSL-20 attempt that exceeded 43.2Km (142,000ft) in altitude.  The design details are available at our website ncnearspace.org.  Although we knew that the springtime stratospheric conditions would not lend themselves to such high altitudes, NSL-26 made it to 38.7Km (127,217ft).  It was launched from Greensboro, NC and landed 4.4 hours later, 280Km to the east, near Greenville, NC.  Onboard was an APRS transmitter/data logger as well as two video cameras that documented the flight.</p>
                </div>
                <h2>Best Experiment</h2>
                <a title="Best Experiment: Bare Necessities" class="fancybox fifty" href="/gallery/last-year/2.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/2.jpg">
                </a>
                <div class="fifty">
                    <p>Team Bare Necessities was founded on the basis of having fun, challenging themselves with a novel project and taking cool pictures. Fortunately, all objectives were achieved! The team was named after the song “Bare Necessities” sung by the character Baloo in Disney’s “The Jungle Book” (Baloo/balloon... Get it?... Oh golly).</p>
                    <p>Team members: Josh Yen – PhD candidate at UNSW looking into controlling dynamic stall through use of synthetic jets</p>
                    <p>Michael Woods – PhD candidate at UNSW looking into modelling and perception for unmanned ground vehicles on unknown terrain</p>
                    <p>Jeffrey Peng – Professional mechanical/noise and vibration engineer at Wilkinson Murray Australia</p>
                    <p>William Crowe – PhD candidate at UNSW looking into multiple spacecraft to rapidly characterize asteroids</p>
                    <p>The balloon, BALU-1, was a Totex 1500 gram helium-filled super-pressure type, which reached a peak height of approximately 29.5 km above the Hunter Valley in Australia. It had a raft of sensors attached to measure temperature, humidity, magnetic field, acceleration, radiation and irradiance, as well as cameras and GPS. This was all run through an Arduino Mega and data was saved to a micro SD.</p>
                    <p>BALU-1 attracted some attention from Hunter Valley local news, showing pictures and video from its two Hack HD 1080p cameras on a beautiful, clear day. The pictures showed the varying landscape of the valley, ranging from state forests to farmland, beaches, ocean and expansive open-cut coal mines. Bare Necessities could infer temperature and spin from the balloon’s solar cell data, which was a particularly intriguing and unexpected finding.</p>
                    <p>Bare Necessities was funded by UNSW’s Aerosoc, School of Mechanical and Manufacturing Engineering and the Australian Centre for Space Engineering Research.</p>
                </div>
                <h2>Best Designs 2014</h2>
                <a title="Best Design 1st Place: Purdue AMET Aerospace" class="fancybox fifty" href="/gallery/last-year/3.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/3.jpg">
                </a>
                <div class="fifty">
                    <p>Purdue AMET Aerospace is a team of engineering and technology students working together in the spirit of scientific ballooning.  Our work is extra-curricular and is of our own design and leadership for the purpose of doing great things and obtaining hands-on experience outside of the classroom.  We began launching simplistic high altitude balloons in 2012 and we have slowly evolved our payload designs while building our skills in an effort to reach even higher.</p>
                    <p>For the Global Space Balloon Challenge, our team designed, constructed, and launched a natural-shape zero pressure balloon.  The success of this launch serves as an exciting stepping stone towards future missions.  Currently, we are working towards the design and launch of a class 2 high-powered rocket to be launched from a zero pressure balloon platform at 70,000 feet.  For more information about our team, follow our activities on our website at the following: http://www.purdueamet.org/aerospace/</p>
                </div>
                <a title="Best Design 2nd Place: Michigan MBuRST" class="fancybox fifty" href="/gallery/last-year/4.png">
                    <img src="/gsbc.png" data-src="/gallery/last-year/4.png">
                </a>
                <div class="fifty">
                    <p>The runner up for Best Design in the 2014 Global Space Balloon Challenge goes to the Michigan Balloon Recovery and Satellite Testbed at the University of Michigan. MBuRST created a custom tracker that transmits live telemetry and tracking data while airborne and sends messages to their Twitter account when the payload has landed. Furthermore, their tracker received commands through HAM radios on the ground to release ballast for future zero pressure balloon flights and to cut the payload from the balloon. This completed their inter payload communication network. These decisions were made in real-time in mobile and fixed ground stations after live analysis of their flight path and each newly predicted landing site. Additionally, they released two balloons at the same time to capture photography and videography as they traveled over Michigan at sunset. Congrats Michigan! </p>
                </div>
                <a title="Best Design 3rd Place: Rocket City Balloonatics" class="fancybox fifty" href="/gallery/last-year/5.png">
                    <img src="/gsbc.png" data-src="/gallery/last-year/5.png">
                </a>
                <div class="fifty">
                    <p>With nearly 400 HAB flights in 27 years with payloads ranging from 13g to 400 lbs, the Rocket City Balloonatics of Huntsville Alabama USA were excited to try something new when they joined the first GSBC. They decided to fly a 3 ft paper airplane back from the edge of space - only two carbon fiber rods for rigidity and a GPS tracking transmitter from HAB supplies were not made from construction paper. On the balloon payload itself, they used an Elktronics Iridium SBD 9602 short burst modem to both send position back to the ground and to command the payload, all through the Iridium satellite constellation. The command was sent, the plane was released from 65,000 ft, spiraled down using its control surfaces, and was recovered on the forest floor looking no worse for the wear.</p>
                </div>
                <h2>Best Stories 2014</h2>
                <a title="Best Stories Team 1: RandomRace" class="fancybox fifty" href="/gallery/last-year/6.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/6.jpg">
                </a>
                <div class="fifty">
                    <p>In one of the most collaborative launches, RandomRace from Russia has organized an entire public event surrounding the launch of their high altitude balloons. They have this to say about Random Race: </p>
                    <p>"Although an important target, stratosphere launches are not the primary one for us. We are mostly involved in organizing and holding balloon search public competitions. We launch balloons with GPS-trackers transmitting their coordinates to a monitoring server. After reaching a certain height the balloons burst and trackers land in random positions which we call checkpoints. Competitors look for the landed trackers with the help of their GPS navigators and return them to organizers at an agreed finishpoint. We've got a monitoring server map that helps teams follow the trackers as well as see other teams. This creates some extra intrigue while searching. The team that finds most checkpoints becomes the winner."</p>
                </div>
                <a class="fancybox fifty" href="/gallery/last-year/7.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/7.jpg">
                </a>
                <div class="fifty">
                    <p> In addition, this year their GSBC launch coincided with a large bicycling event in the center of St. Petersburg. They decided to pull off both a very technically challenging launch (from a city!) as well as involve the public through the bicycling event, a great publicity event to show people how awesome these launches can be. Successful in the launch, they then had to retrieve the fallen payload from a tree! Luckily, one of their members is an accomplished tree climber, and the payload was saved. The GSBC organizers hope that this collaborative effort inspires other teams to reach out to bring others to the world of ballooning!</p>
                </div>
                <a title="Best Stories Team 2: Colegio Tajamar" class="fancybox fifty" href="/gallery/last-year/8.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/8.jpg">
                </a>
                <div class="fifty">
                    <p>The Colegio Tajamar Balloon Team based out of Madrid, Spain, brought together parents, students, and the faculty of the Colegio Tajamar, as well as the local community, to launch their impressive entry into the GSBC. The project began with two accomplished programmers, Javier Alonso and Diego Peinador, and through the efforts of Juan Pablo Sánchez, professor of Mathematics at the Colegio Tajamar, brought in a host of bright young students who set their eyes towards the sky. The following students worked hard on this project: Carlos Martínez Ramos, Javier García Calleja, Iván Ledesma Casado, Pablo Almarza Marqués, and Javier Martinez-Algora. </p>
                    <p>Through the Challenge, these students learned and accomplished excellent work in the use of microelectronics, programming, antenna design, and fundamental engineering principles. They helped design, build, and launch a balloon payload that boasted a number of impressive features: APRS, in-house antenna design, GPS/UV/acceleration/temperature/pressure sensing capabilities, and a sleek payload optimization layout. Despite extremely adverse weather conditions, the Colegio Tajamar Balloon Team fought through high wind, torrential downpours, and the cold to successfully launch and recover their payload, which had ascended to over 35,000 meters (114,900 feet).</p>
                    <p>Tajamar’s launch was a true community effort, and according to the team, has helped show the students of the Colegio the value of education and of pursuing their dreams, as well as the importance of teamwork and collaboration. We look forward to seeing great things from you next year!</p>
                </div>
                <a title="Best Stories Team 3: EAFITHAB" class="fancybox fifty" href="/gallery/last-year/9.png">
                    <img src="/gsbc.png" data-src="/gallery/last-year/9.png">
                </a>
                <div class="fifty">
                    <p>Fascinated with being able to participate in an international aerospace challenge, a group of a undergraduate students from EAFIT University in Medellin, Colombia joined the GSBC as EAFITHAB. The team had tremendous obstacles to overcome from a society that lacked confidence in or support for aerospace projects to mountainous terrain that limited signal communication to numerous extremely violent areas that restricted launch and recovery sites. With little prior knowledge or guidance, the team designed their payload to match the form factor of a 3U cubesat which they then made from scratch and thoroughly tested. They subjected their payload to -80* C to ensure it could withstand high altitude temperatures and dunked their payload in a pool to test water resistance and buoyancy in case it landed in a lake. They then tested multiple parachutes, ran multiple flight predictors to compare the results, and programmed an Arduino Uno to run experiments looking at radiation, temperature, and solar intensity at various points. They successfully flew and recovered their payload in their inhospitable location and processed all the data on April 16. We can't wait to see where they go from here with this first success under their belt!</p>
                </div>
                <h2>Other Amazing Teams</h2>
                <a class="fancybox" href="/gallery/colombia-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/colombia-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/china-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/china-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/peru-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/peru-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/colorado-2014-2.jpg">
                    <img src="/gsbc.png" data-src="/gallery/colorado-2014-2.jpg">
                </a>
                <a class="fancybox" href="/gallery/colorado-2014-3.jpg">
                    <img src="/gsbc.png" data-src="/gallery/colorado-2014-3.jpg">
                </a>
                <a class="fancybox" href="/gallery/massachussets-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/massachussets-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/illinois-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/illinois-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/r2d2.jpg">
                    <img src="/gsbc.png" data-src="/gallery/r2d2.jpg">
                </a>
                <a class="fancybox" href="/gallery/universidad-modelo.jpg">
                    <img src="/gsbc.png" data-src="/gallery/universidad-modelo.jpg">
                </a>
        </div>
    </div>
</div>
