<div class="primary section">
    <h1 class="underline">Gallery</h1>
    <div class="content">
        <div class="gallery">
            <div class="slideshow">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
                <img src="/gsbc.png" data-src="http://placehold.it/500">
            </div>
        </div>
        <div class="modal">
        </div>
    </div>
</div>
