<div class="primary section">
    <h1 class="underline">Gallery</h1>
    <div class="content">
        <div class=".gallery">
            <div class="slideshow">
                <div><img src="http://placehold.it/500"></div>
                <div><img src="http://placehold.it/500"></div>
                <div><img src="http://placehold.it/500"></div>
                <div><img src="http://placehold.it/500"></div>
                <div><img src="http://placehold.it/500"></div>
                <div><img src="http://placehold.it/500"></div>
                <div><img src="http://placehold.it/500"></div>
                <div><img src="http://placehold.it/500"></div>
                <div><img src="http://placehold.it/500"></div>
            </div>
        </div>
    </div>
</div>
