<% title "Gallery" %>
<div class="primary section">
    <h1 class="underline">Gallery</h1>
    <div class="content">
        <div class="gallery">
                <h3>Best Photographs 2014</h3>
                <a title="Best Photograph 1st Place: Near Space Ballooning" class="fancybox" href="/gallery/best-photo-1st-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-photo-1st-2014.jpg">
                </a>
                <a title="Best Photograph 2nd Place: Orion 13" class="fancybox" href="/gallery/best-photo-2nd-place-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-photo-2nd-place-2014.jpg">
                </a>
                <a title="Best Photograph 3rd Place: Balloongineers" class="fancybox" href="/gallery/best-picture-3rd-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-picture-3rd-2014.jpg">
                </a>
                <h3>Highest Altitude 2014</h3>
                <a title="Highest Altitude: NC Near Space Research" class="fancybox" href="/gallery/last-year/1.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/1.jpg">
                </a>
                <h3>Best Experiment</h3>
                <a title="Best Experiment: Bare Necessities" class="fancybox" href="/gallery/last-year/2.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/2.jpg">
                </a>
                <h3>Best Designs 2014</h3>
                <a title="Best Design 1st Place: Purdue AMET Aerospace" class="fancybox" href="/gallery/last-year/3.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/3.jpg">
                </a>
                <a title="Best Design 2nd Place: Michigan MBuRST" class="fancybox" href="/gallery/last-year/4.png">
                    <img src="/gsbc.png" data-src="/gallery/last-year/4.png">
                </a>
                <a title="Best Design 3rd Place: Rocket City Balloonatics" class="fancybox" href="/gallery/last-year/5.png">
                    <img src="/gsbc.png" data-src="/gallery/last-year/5.png">
                </a>
                <h3>Best Stories 2014</h3>
                <a title="Best Stories Team 1: RandomRace" class="fancybox" href="/gallery/last-year/6.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/6.jpg">
                </a>
                <a class="fancybox" href="/gallery/last-year/7.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/7.jpg">
                </a>
                <a title="Best Stories Team 2: Colegio Tajamar" class="fancybox" href="/gallery/last-year/8.jpg">
                    <img src="/gsbc.png" data-src="/gallery/last-year/8.jpg">
                </a>
                <a title="Best Stories Team 3: EAFITHAB" class="fancybox" href="/gallery/last-year/9.png">
                    <img src="/gsbc.png" data-src="/gallery/last-year/9.png">
                </a>
                <h3>Other Amazing Teams</h3>
                <a class="fancybox" href="/gallery/colombia-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/colombia-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/china-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/china-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/peru-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/peru-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/colorado-2014-2.jpg">
                    <img src="/gsbc.png" data-src="/gallery/colorado-2014-2.jpg">
                </a>
                <a class="fancybox" href="/gallery/colorado-2014-3.jpg">
                    <img src="/gsbc.png" data-src="/gallery/colorado-2014-3.jpg">
                </a>
                <a class="fancybox" href="/gallery/massachussets-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/massachussets-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/illinois-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/illinois-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/r2d2.jpg">
                    <img src="/gsbc.png" data-src="/gallery/r2d2.jpg">
                </a>
                <a class="fancybox" href="/gallery/universidad-modelo.jpg">
                    <img src="/gsbc.png" data-src="/gallery/universidad-modelo.jpg">
                </a>
        </div>
    </div>
</div>
