<div class="primary section">
    <h1 class="underline">Gallery</h1>
    <div class="content">
        <div class="gallery">
            <div class="slideshow">
                <a class="fancybox" href="/gallery/best-photo-2nd-place-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-photo-2nd-place-2014.jpg">
                </a>
                <a class="fancybox" href="/gallery/colombia-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/colombia-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/china-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/china-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/peru-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/peru-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/best-photo-1st-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-photo-1st-2014.jpg">
                </a>
                <a class="fancybox" href="/gallery/colorado-2014-2.jpg">
                    <img src="/gsbc.png" data-src="/gallery/colorado-2014-2.jpg">
                </a>
                <a class="fancybox" href="/gallery/colorado-2014-3.jpg">
                    <img src="/gsbc.png" data-src="/gallery/colorado-2014-3.jpg">
                </a>
                <a class="fancybox" href="/gallery/best-picture-3rd-2014.jpg">
                    <img src="/gsbc.png" data-src="/gallery/best-picture-3rd-2014.jpg">
                </a>
                <a class="fancybox" href="/gallery/massachussets-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/massachussets-2014.JPG">
                </a>
                <a class="fancybox" href="/gallery/illinois-2014.JPG">
                    <img src="/gsbc.png" data-src="/gallery/illinois-2014.JPG">
                </a>
            </div>
        </div>
    </div>
</div>
