<% title "Get Involved" %>
<div class="primary section">
  <h1 class="underline">Get Involved</h1>
  <div class="content">
      <p>The best way to get involved in the GSBC is to make your own balloon and fly in between April 10th and 27th and then post pictures from your flight! But there are many other opportunities as well. Head to our <a href="http://community.balloonchallenge.org">forum</a> to ask questions, help others, or just see what’s going on. For those looking for a challenge, our prize section below details some specific challenges and rewards. For those who aren’t sure if they can handle building a full high altitude balloon, see below for information on our Hosted Payloads or Balloon Buddies Program which can help you join the fun! And if there is anything we can help you with or if you have feedback, just head to our <a href="/contact">contact page</a> and let us know.</p>
  </div>
  <h2 class="underline">Requirements for Participation in the GSBC</h2>
  <div class="content">
      <p>Anyone participating in the Global Space Balloon Challenge must follow these requirements:</p>
      <ol>
          <li>
              <p>You must be part of a team with at least one other member. This is to ensure everyone’s safety as they assemble and fly their balloons.</p>
          </li>
          <li>
              <p>Your payload must contain a camera. We know this adds weight to your balloon, but we believe sharing photos is the best way to inspire and connect with other teams, a critical component of the GSBC.</p>
          </li>
          <li>
              <p>Your payload must carry a GPS. This will allow you to track and recover your payload safely.</p>
          </li>
          <li>
              <p>You must follow all your local regulations. Please see <a href="/regulations">the regulations page</a> for more information.</p>
          </li>
          <li>
              <p>You must fly between April 10th and April 27th, 2015.  If you run into issues that prevent this, email us and explain what happened, and exceptions will be considered on a case by case basis. Delays due to weather are allowed as it is important to be safe and only fly when conditions are acceptable. Should a delay due to weather be necessary, send us proof of the bad conditions, and you will be approved to launch at a later time. However, teams must fly by May 22nd in order to compete for prizes as specified on the prize page.</p>
          </li>
          <li>
              <p>Everyone on a team must have signed up on the website and accepted the <a href="/terms_and_conditions.pdf">Terms and Conditions</a>.</p>
          </li>
          <li>
              <p>No payloads are allowed to contain vertebrates.</p>
          </li>
      </ol>
  </div>
  <h2 class="underline">Prizes</h2>
  <div id="prizes" class="content">
      <p>Technical Prizes:</p>
      <ul>
          <li><a href="/prizes#altitude">Highest Altitude</a></li>
          <li><a href="/prizes#photograph">Best Photograph</a></li>
          <li><a href="/prizes#science">Best Science Experiment</a></li>
          <li><a href="/prizes#design">Best Design</a></li>
          <li><a href="/prizes#innovative">Most Innovative Component</a></li>
      </ul>
      <p>Advanced Technical Prizes:</p>
      <ul>
          <li><a href="/prizes#ground">Longest ground track</a></li>
          <li><a href="/prizes#return">Return to Launch Site</a></li>
      </ul>
      <p>Community Prizes:</p>
      <ul>
          <li><a href="/prizes#video">Best Video</a></li>
          <li><a href="/prizes#most-payloads">Most payloads flown throughout the GSBC</a></li>
          <li><a href="/prizes#helpful">Most Helpful Team</a></li>
          <li><a href="/prizes#charity">Most Charitable Team</a></li>
          <li><a href="/prizes#single">Most balloons launched from a single site on a single day</a></li>
      </ul>
  </div>
  <h2 class="underline">Hosted Payloads</h2>
  <div class="content">
      <p>We understand that a high altitude balloon launch is an involved process, requiring access to resources that not everyone has available. We also understand that the thought of building a HAB can be daunting for those without prior experience.</p>
      <p>To allow as many people as possible to participate in the GSBC, we’ve created the Hosted Payloads Program. Analogous to a real rocket launch where smaller payloads often ride as “hitch hikers” with the primary payload, this program gives teams the opportunity to build self-contained experiments to be flown on other teams’ balloon launches. The experiments will be built and sent to the host who will include them as part of their own payload when they launch their balloon.</p>
      <p>Designed to reflect real science and engineering practices, teams will need to communicate throughout the design process to make sure that expectations of both teams are met. For example, this might include considerations such as making sure the host doesn’t exceed their mass limitations, and making sure that the hosted payload meets all the flight regulations required in the country of the host. Hosted payloads should be designed to minimize any disruption to the host’s own experiment, and so they should be as self-contained as possible, including any power needs.</p>
      <p>To sign up for the program, simply complete the indicated field in the registration form or send us a note through the <a href="/contact">contact page</a> and we’ll do our best to find a launch for you!</p>
  </div>
  <h2 class="underline">Balloon Buddies</h2>
  <div class="content">
      <p>To make sure that teams new to high altitude ballooning have the support and knowledge they need for a successful launch, we’ve set up the Balloon Buddies Program. As part of the Balloon Buddies program, teams that sign up (the Mentee team) will be paired up with a team who have indicated they have HAB expertise and are willing to help newcomers (the Mentor team).</p>
      <p>For Mentees, the program offers a support channel for any technical problems they may be facing or detailed question they would like to ask. For Mentors, the program is a great way to share their expertise with the HAB community. As much as possible, we try to match Mentee and Mentor pairs from different countries, so both teams get the opportunity to meet like-minded people from around the world.</p>
      <p>The Balloon Buddies program is a low time-commitment, flexible program. It is designed to offer value and be fun for both teams, and there are no official requirements to be part of it - we only ask that teams follow a suggested periodic check-in schedule to keep updated with their buddies.</p>
      <p>To sign up for the program, simply complete the indicated field in the registration form or send us a note through the <a href="/contact">contact page</a> and we’ll find a buddy for you!</p>
  </div>
</div>
