<% title "Home" %>
<div class="hero section">
    <div class="left">
        <div class="embed-container">
            <img src="http://placehold.it/1280x720/&text=Video+Here"></img>
        </div>
    </div>
    <div class="right">
        <h1>One-liner summarizing GSBC</h1>
        <h3>More detailed description, probably going to span multiple lines</h3>
        <a class="btn callToAction" href="/about">Learn More</a>
    </div>
</div>
<div class="affiliates section">
    <div class="main threeContainer">
        <div class="stanford three">
            <img src="http://placehold.it/400/&text=Stanford"></img>
        </div>
        <div class="mit three">
            <img src="http://placehold.it/400/&text=MIT"></img>
        </div>
        <div class="umich three">
            <img src="http://placehold.it/400/&text=UMich"></img>
        </div>
    <div class="threeContainer">
        <div class="sponsors three">
            <h3 class="title">Sponsors</h3>
            <ul>
                <li>Sponsor 1</li>
                <li>Sponsor 2</li>
                <li>Sponsor 3</li>
            </ul>
        </div>
        <div class="referenceTools three">
            <h3 class="title">Reference Tools</h3>
            <ul>
                <li>Ref 1</li>
                <li>Ref 2</li>
                <li>Ref 3</li>
            </ul>
        </div>
        <div class="judgesMarketing three">
            <h3 class="title">Judges/Marketing</h3>
            <ul>
                <li>Judge 1</li>
                <li>Judge 2</li>
                <li>Judge 3</li>
            </ul>
        </div>
    </div>
</div>
