<% title "Home" %>
<div class="hero">
    <div class="embed-container">
        <iframe src='//www.youtube.com/embed/yvsNVd4SCY8' frameborder='0' allowfullscreen></iframe>
    </div>
    <h1>One-liner summarizing GSBC in a convincing/appealing manner</h1>
    <h3>More detailed description, probably going to span multiple lines</h3>
</div>
<div class="affiliates">
    <div class="sponsors three">
        <h3 class="title">Sponsors</h3>
    </div>
    <div class="referenceTools three">
        <h3 class="title">Reference Tools</h3>
    </div>
    <div class="judgesMarketing three">
        <h3 class="title">Judges/Marketing</h3>
    </div>
</div>
