<% title "Home" %>
<div class="hero section">
    <div class="left">
        <div class="embed-container">
            <img src="http://placehold.it/1280x720/&text=Video+Here">
        </div>
    </div>
    <div class="right">
        <h1>Global Space Balloon Challenge</h1>
        <h3>An international education outreach project to encourage people from around the world to build and launch their own high-altitude balloon science experiments.</h3>
        <a class="btn callToAction" href="/about">Learn More</a>
    </div>
</div>
<div class="affiliates section">
    <div class="main threeContainer">
        <div class="stanford three">
            <img src="/assets/universities/stanford.gif">
        </div>
        <div class="mit three">
            <img src="/assets/universities/mit.png">
        </div>
        <div class="umich three">
            <img src="/assets/universities/umich.gif">
        </div>
    </div>
    <div class="threeVerticalContainer">
        <div class="sponsors threeVertical">
            <h3 class="title">Sponsors</h3>
            <ul>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
            </ul>
        </div>
        <div class="referenceTools threeVertical">
            <h3 class="title">Reference Tools</h3>
            <ul>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
            </ul>
        </div>
        <div class="judgesMarketing threeVertical">
            <h3 class="title">Judges/Marketing</h3>
            <ul>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
                <li><img src="http://placehold.it/300"></li>
            </ul>
        </div>
    </div>
</div>
