<% title "I haven't flown a HAB" %>
<div class="primary section">
    <h2 class="underline">What is a HAB?</h2>
    <div class="content">
            <p>High Altitude Balloons are large weather balloons that carry cameras and sensors to the edge of space, allowing breath-taking imagery and cutting edge science. They can be built for a few hundred dollars in just a few weeks by people of all ages with no prior experience. The process of launching and recovering a high altitude balloon is incredibly fun, while providing critical lessons in hands on engineering and teamwork.</p>
            <a href="/what-is-a-hab" class="btn">Learn More</a>
    </div>
    <h2 class="underline">What is the Global Space Balloon Challenge?</h1>
    <div class="content">
        <p>The GSBC is the world’s largest high altitude ballooning event, where teams in various locations around the world launch simultaneously - last year 60 teams from 18 countries on 6 continents flew together. Participants ranged from students and teachers, to amateurs and professionals, to children and their parents. Many had never touched high altitude balloons before the event. We provide a central website with examples, tutorials, and expert support that allow you to fly your ideas high into the atmosphere - <a href="/sign_up">join the fun</a> and show the world what you can do!</p>
        <a href="/about" class="btn">Learn More</a>
    </div>
    <h2 class="underline">How to Get Involved</h2>
    <div class="content">
        <p>The purpose of this website is to provide you with the resources you need to fly an ambitious high altitude balloon and help others do the same. The <a href="http://community.balloonchallenge.org">forums</a> allow you to share your ideas, get feedback, and see what others are thinking. The <a href="/get-involved#prizes">prizes</a> provide some ambitious goals for what to do with your balloon, while the <a href="/tutorials">tutorials</a> pages can help you make this happen. The <a href="/get-involved">Hosted Payloads</a> and <a href="/get-involved">Balloon Buddies</a> programs will let you help teams in need. And don’t forget to check out the <a href="/teams">launch map</a> and see just how many other people are involved.</p>
    </div>
</div>
