<% title "I have flown a HAB" %>
<div class="primary section">
    <h2 class="underline">What is the Global Space Balloon Challenge?</h1>
    <div class="content">
        <p>The GSBC is the world’s largest high altitude ballooning event, where teams in various locations around the world launch simultaneously - last year 60 teams from 18 countries on 6 continents flew together. The fundamental goal of the GSBC is to build a community where everyone can learn from each other and build on each other’s accomplishments, with a focus on education and technological development. We provide <a href="/tutorials>tutorials</a>, <a href="/get-involved#prizes">prizes</a>, and a central website that make launching high altitude balloons more fun than ever before - <a href="/sign_up">join us</a> and show the world what you can do!</p>
        <a href="/about" class="btn">Learn More</a>
    </div>
    <h2 class="underline">Using this Website</h2>
    <div class="content">
        <p>The purpose of this website is to provide you with the resources you need to fly an ambitious high altitude balloon and help others do the same. The <a href="http://community.balloonchallenge.org">forums</a> allow you to share your ideas, get feedback, and see what others are thinking. The <a href="/get-involved#prizes">prizes</a> provide some ambitious goals for what to do with your balloon, while the <a href="/tutorials">tutorials</a> pages can help you make this happen. The <a href="/get-involved">Hosted Payloads</a> and <a href="/get-involved">Balloon Buddies</a> programs will let you help teams in need. And don’t forget to check out the <a href="/teams">launch map</a> and see just how many other people are involved.</p>
    </div>
</div>
