<div class="primary section">
    <h2 class="underline">What is the Global Space Balloon Challenge?</h1>
    <div class="content">
        <p>The GSBC is the world’s largest high altitude ballooning event, where teams in various locations around the world launch simultaneously - last year 58 teams from 17 countries on 6 continents flew together. The fundamental goal of the GSBC is to build a community where everyone can learn from each other and build on each other’s accomplishments, with a focus on education and technological development. We provide tutorials, prizes, and a central website that make launching high altitude balloons more fun than ever before - join us and show the world what you can do!</p>
    </div>
    <h2 class="underline">Using this Website</h2>
    <div class="content">
        <p>The purpose of this website is to provide you with the resources you need to fly an ambitious high altitude balloon and help others do the same. The forums allow you to share your ideas, get feedback, and see what others are thinking. The prizes provide some ambitious goals for what to do with your balloon, while the tutorials pages can help you make this happen. And don’t forget to check out the launch map and see just how many other people are involved. <a href="/about" class="btn">Learn More</a></p>
    </div>
</div>
