<div class="primary section">
    <h1 class="underline">Mission Operations: How to prepare and launch successfully</h1>
    <div class="content">
        <p>Arguably the most important aspect of ballooning is mission operations. You can have all the right hardware, excellent trackers, and an awesome payload, but it’s all for naught if you don’t plan ahead and carry out a launch correctly. While mission operations comes easier to experienced HABers, novice ballooners can absolutely carry out a successful launch.</p>
        <p>This is an introduction to Mission Operations so you know what to think about. As the launch window approaches, we will developing more detailed tutorials for the different aspects of Mission Ops so stay tuned!</p>
        <h2 class="underline medium">T minus 1 week</h2>
        <p>The week before launch day is a critical time in the world of ballooning. Many things happen when conducting a balloon launch, so it’s important to stay organized. That’s why making checklists and procedures is a great way to make sure that nothing is overlooked. In particular, a checklist should be made that lists all of the materials and equipment that you could possibly need on a launch. For example, your checklist might look like this:</p>
        <ul>
            <li>Trackers x2</li>
            <li>Parachute x1</li>
            <li>600g Balloon x2</li>
            <li>Radar Reflector x1</li>
            <li>String and fasteners</li>
            <li>Batteries (charged) x8</li>
            <li>Duct tape (1 roll)</li>
            <li>Scissors x1</li>
            <li>Crescent wrench x1</li>
            <li>and more...</li>
        </ul>
        <p>Note that this is not the complete list of everything that you’ll need. Refer to our tutorial <a href="/supplies">“What supplies will I need?”</a> for a more comprehensive list of necessary materials. In addition, you should think about what you might need on a launch. The possibilities are endless!</p>
        <p>Assigning roles to the people in your group is also a great method of streamlining the preparation process. Having a tester to test flight hardware, a materials handler to make sure all the required materials are present and in good condition, and a launch coordinator to run predictions and plan the launch-day operations is extremely beneficial. This also holds everyone accountable for specific tasks.</p>
        <p>The week before you launch, you should <em>test all of your equipment</em> to make sure that it’s in working order. Radios, ground stations, and even structural materials can stop working for no good reason at all. It’s much better to catch these problems before they surface on launch day!</p>
        <h2 class="underline medium">T minus 1 day</h2>
        <p>On the day before the day of the launch, a meeting should be held to analyze all the mission aspects and determine if the launch can proceed. This meeting is called a GO/NO-GO, because it is where you will determine whether the launch is a GO or a NO-GO. Everyone’s opinion has equal share in a GO/NO-GO, which means that if someone spots a point of failure before anyone else, they should speak up about it.</p>
        <p>If the materials are all in working order, the electronic equipment is functional, and the batteries are charged, it’s time to run a <a href="/flight-predictors">flight prediction</a>. Ideally, predictions should be run in the days leading up to the GO/NO-GO, but the final meeting is where the flight path should be looked at in greater detail.</p>
        <p>If you and your team decide at the meeting that the launch is a GO, then you’ll need to establish an order of events. This means listing times when your team will leave your base of operations, arrive at the launch site, spend time preparing for launch, packing everything into vehicles after the launch, and chasing the balloon. Your order of events might look like this:</p>
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
            .tg .tg-228w{background-color:#656565;color:#ffffff}
        </style>
        <table class="tg">
            <tr>
                <th class="tg-228w">Sunday, 10/26/14</th>
                <th class="tg-228w">Location</th>
                <th class="tg-228w">Event</th>
            </tr>
            <tr>
                <td class="tg-031e">8:30 am</td>
                <td class="tg-031e">MBuRST Lab</td>
                <td class="tg-031e">Load trailer and vans with helium, launch bins, GCS</td>
            </tr>
            <tr>
                <td class="tg-031e">9:00 am</td>
                <td class="tg-031e">SRB</td>
                <td class="tg-031e">Depart for Charlotte, MI</td>
            </tr>
            <tr>
                <td class="tg-031e">10:30 am</td>
                <td class="tg-031e">Launch Site</td>
                <td class="tg-031e">Arrive, unload launch bins, prepare for launch</td>
            </tr>
            <tr>
                <td class="tg-031e">11:00 am</td>
                <td class="tg-031e">Launch Site</td>
                <td class="tg-031e">Launch!</td>
            </tr>
            <tr>
                <td class="tg-031e">11:15 pm</td>
                <td class="tg-031e">Launch Site</td>
                <td class="tg-031e">Pack up and depart on chase</td>
            </tr>
            <tr>
                <td class="tg-031e">1:10 pm</td>
                <td class="tg-031e">Landing Site</td>
                <td class="tg-031e">Balloon lands</td>
            </tr>
            <tr>
                <td class="tg-031e">1:45 pm</td>
                <td class="tg-031e">Landing Site</td>
                <td class="tg-031e">Retrieve package</td>
            </tr>
            <tr>
                <td class="tg-031e">2:45 pm</td>
                <td class="tg-031e">SRB</td>
                <td class="tg-031e">Unpack trailer and vans</td>
            </tr>
        </table>
        <h2 class="underline medium">Launch day</h2>
        <p>The day of the launch is when all of your hard work is put to the test. Follow your sequence of events, and run flight path predictions early in the day. When you get to the launch site, the first thing that you should do is turn on your trackers so that they have time to get a GPS, and make sure that they’re completely functional. Lay out all of your launch materials, start putting together your payload train, and start filling the balloon. If you’ve prepared well in the week leading up to launch-day, this should all come naturally.</p>
        <p>If you think for any reason that you have to scrub a launch, DO IT. Tracker’s not transmitting its position? Scrub it. Your balloon isn’t getting as much lift as you thought it would? Scrub it. You’re feeling some bad vibrations in the sub-ether today? Absolutely scrub it. Ballooning is all about airing on the side of caution. Absolutely, under no circumstances, should you fly with broken hardware. It’s very difficult having to cancel a mission at the launch site, but it’s something that every successful HABer has to do.</p>
        <h2 class="underline medium">After the launch</h2>
        <p>After the launch, you and your team should be analyzing every aspect of the launch. Whether or not your team stayed on time, forgot anything that you meant to bring, ran a bad prediction, etc should all be put under the proverbial microscope. After the launch is when you figure out what went well and what didn’t go so well. Doing these types of analyses is the only way that you can fix mistakes and become a better ballooner.</p>
        <h2 class="underline medium">Conclusion</h2>
        <p>Mission operations is one of the most important aspects of ballooning. There is an incredible amount of information that could be said about mission operations, but hopefully this tutorial has given you at least an inkling of knowledge that you can use towards conducting a successful mission. Additionally, there is so much knowledge that can be learned only by doing launches, so get out there and HAB!</p>
    </div>
</div>
