<div class="primary section">
    <div class="content">
        <div class="product">
            <div class="info fifty">
                <h2 class="underline">Parachute</h2>
                <p>The parachute will slow your payload’s descent back to earth, so is an essential part of any balloon launch. There are two ways to rig up your parachute for launch:</p>
                <ul>
                    <li>Get a parachute with a loop on the canopy so that the balloon gets tied to the top and the “payload train” gets tied beneath the parachute.</li>
                    <li>If you do not have a parachute with an attachment loop on the top of the canopy, you can make do by connecting the bottom of the balloon and the top of the “payload train” to the bottom of the parachute. In this way, on ascent, the parachute drags along not moving fast enough to inflate.</li>
                </ul>
                <p>Once the balloon bursts and the payload begins a free fall, air causes the parachute to open and slows the descent back to Earth.</p>
                <p>The size of the parachute will depend on the weight of your payload train, but usually a parachute with a 6 foot diameter is sufficient. You can calculate the necessary parachute size for your specific payload by using this <a href="http://www.rocketreviews.com/parachute-size-calculator.html">parachute size calculator</a> (this is for rockets, but works just as well for balloon payloads!).</p>
                <p>Larger parachutes will make the payload descend slower, which means that the payload will be in the air longer and atmospheric forces will have more time to act on your balloon payload. Ultimately, this increases the travel distance of your payload due to high winds at higher altitudes. Remember that if your payload travels laterally a lot, it could mean you need to travel farther to recover the payload. Moreover, if you are launching near a large body of water, mountain, or otherwise problematic terrain, it could increase the risk of your payload landing in an unrecoverable area.</p>
            </div>
            <div class="image fifty">
                <div class="slideshow">
                    <div><img src="http://placehold.it/500"></div>
                    <div><img src="http://placehold.it/500"></div>
                    <div><img src="http://placehold.it/500"></div>
                </div>
                <h3 class="underline smaller">Helpful Tools</h3>
                <ul>
                    <li><a href="http://www.rocketreviews.com/parachute-size-calculator.html">Simple sizing of parachutes</a></li>
                    <li><a href="http://www.apogeerockets.com/downloads/Newsletter149.pdf">Detailed sizing of parachutes</a></li>
                    <li><a href="http://spherachutes.com/chart.asp">Reference table</a></li>
                </ul>
                <h3 class="underline smaller">Suggested Suppliers</h3>
                <ul>
                    <li>
                        <a href="http://www.the-rocketman.com/chutes.html">THe RocketMan</a>
                    </li>
                    <li>
                        <a href="http://spherachutes.com/">Spherachutes</a>
                    </li>
                    <li>
                        <a href="http://www.highaltitudescience.com/collections/near-space-parachutes/products/near-space-parachute-1-5-m">High Altitude Science</a>
                        <ul>
                            <li>$50</li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://www.randomengineering.co.uk/Random_Aerospace/Parachutes.html">Random Engineering</a>
                    </li>
                    <li>
                        <a href="https://sites.google.com/site/balloonnewswebstore/parachutes">Balloon News Web Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
