<% title "Payload" %>
<div class="primary section">
    <h1 class="underline">Payload</h1>
    <div class="content">
        <h2 class="underline medium">Types of Payload</h2>
        <p>When selecting what kind of cool thing to put into space, it’s a good idea to think about what you want to accomplish with your payload. Do you want to measure atmospheric conditions with a science experiment? Do you want to take awesome footage of Earth from high in the sky? Do you want to test out home-made satellite hardware? HABing is all about maximizing the effectiveness of your equipment, so thinking about what exactly the payload should do is a good way to reduce unneeded components and weight.</p>
        <p>There are endless possibilities to what you can fly into the atmosphere, but here are a few ideas to give some inspiration:</p>
        <p><span class="big">Sensor Array:</span> Ever wonder how atmospheric properties change with altitude? Now you can find out first-hand! Build a circuit with a pressure sensor, electronic thermometer, humidity sensor, magnetometer, and a microcontroller to send up into the atmosphere. Hobbyist websites like sparkfun and adafruit are great places to start with building electronic sensor systems. See our <a href="/sensor">sensor tutorial</a> for some other ideas.</p>
        <p><span class="big">High-Altitude Photography:</span> Documenting your balloon’s journey is one thing, but you can also take stunning high-altitude shots from high in the sky. Pick up a nice camera and fly it on your HAB to capture the beauty of Earth from the heavens. Check out our <a href="#">HAB Photography How To</a> for some awesome insights and great pictures!</p>
        <p>Novelty Items: One of the great things about HABing is that you can send up literally anything you want. This includes promotional items for companies, personal possessions that you want to go to space, and objects from pop-culture that are just cool to see above earth. To the right, you can see a little robot you might recognize that Tau Mu Tau from the Michigan Institute of Aviation and Technology sent up a for GSBC 2014.</p>
        <div class="inlineImg">
            <img src="/payload/1.JPG">
            <img src="/payload/2.jpg">
        </div>
        <h2 class="underline medium">Payload Housing</h2>
        <figure>
            <div class="inlineImg">
                <img src="/payload/3.jpg">
                <img src="/payload/4.jpg">
            </div>
        </figure>
        <p>Your payload should be protected from low temperatures and shocks, so it’s important to put your payload in a sturdy, yet soft, enclosure. The styrofoam coolers that are sold at most grocery stores fill this role very well, but you can certainly build your own payload boxes. With some epoxy and a sheet of polystyrene foam board, you can build a box that is tailored to your specific application.</p>
        <p>In addition to protecting electronics or other equipment in the payload, a housing provides external mounting points for antennas. It’s important to have antennas mounted on a rigid structure to relieve stresses on the connection between the antenna and circuit board.</p>
        <p>If you want to hang something off of the side of the payload housing (e.g. to film an object above Earth’s surface), you’ll need some type of rigid support structure. Balsa wood works well if the object is light enough, but would not work well with anything too heavy. Instead, using multiple supports is a good idea. Additionally, anything that hangs off the side of a payload housing must have a safety line. Light supports are sometimes not enough to keep the object attached during burst.</p>
        <h2 class="underline medium">Tips and Tricks</h2>
        <p>Before sending your payload into the sky, be sure to connect everything with a safety line. This should be a long length of string that connects to each of the payloads and will hold everything together in the event that a foam box or main payload connecting string fails.</p>
        <p>Don’t limit yourself to just one payload box per balloon! If they’re light enough, multiple boxes and definitely be attached to the same balloon. This means that you can have more science, photography, and plain cool stuff in the sky at once!</p>
        <p>Finally, it’s absolutely necessary to put a “Return To” tag on your payload box. This should include your name, the name of your HAB team, phone number, address, and any other contact information. Balloons often land in inaccessible areas (for example, my balloon team has landed in a stone quarry, a prison, and numerous farm fields), so that contact information could be your ticket to getting your payload back.</p>
    </div>
</div>
