<% title "Power" %>
<div class="primary section">
    <h1 class="underline">Power</h1>
    <div class="content">
        <p>Whether you’re making your own electronics, or you’re using off the shelf components, some knowledge about electrical power is vital to developing any successful HAB system. This tutorial will guide you through some electrical concepts, describe just a few basic components for power systems, and finally provide information about the types of batteries that you might be using on your HAB flight.</p>
        <h2 class="underline medium">Power Concepts</h2>
        <p><span class="big">Current:</span> Simply put, current is the flow of electrons. It is measured by the amount of charge (number of electrons) that passes through a wire for a given unit of time. The unit for current is the Ampere (A), and equivalent to one Coulomb of charge per second.</p>
        <p><span class="big">Voltage:</span>Voltage is the measure of electrical potential between any two points in space. Potential can be thought of as the “force” that pushes electrons through a conductor, creating current. The unit for voltage is (you guessed it) the Volt (V).</p>
        <p><span class="big">Resistance:</span>Resistance is a material’s opposition to current. It is measured in Ohms (Ω). The relationship between current, voltage, and resistance in a conductor is given by Ohm’s Law:</p>
        <div class="blockImg">
            <img src="http://puu.sh/cTnXJ/3cbb429d8f.png">
        </div>
        <p>Where V is voltage, I is current, and R is resistance.</p>
        <p><span class="big">Power</span> Power is the amount of energy that is used or generated in an electrical system, per unit of time. It is given in Watts (W). Power can be calculated by multiplying current and voltage together:</p>
        <div class="blockImg">
            <img src="http://puu.sh/cTocp/e2fa825cee.png">
        </div>
        <p><span class="big">Capacitance:</span> Capacitance is a measure of a battery’s total storage energy. It is given in Amp-hours (A-h), which is analogous to the amount of time it would take to drain the battery at the rated current. For example, a 2 A-h battery will completely drain in two hours with one amp of output.</p>
    </div>
</div>
