<% title "Prizes" %>
<div class="primary section">
    <h1 class="underline">Prizes</h1>
    <div class="content">
        <h2 class="underline medium">Overview</h2>
        <p>To motivate and reward teams participating in the GSBC, we will give prizes to teams that go beyond traditional high altitude ballooning and do something unique and cool. Each prize category requires a specific set of information to be submitted. Submissions for each of the categories will open by April 10th and remain open until May 18th, after which time we will not accept any more submissions or nominations and will proceed to select the winners. </p>
        <p>Prizes from last year included Sparkfun gift cards, GoPro Cameras, Hwoyee Balloons, and Arduinos. This year, we plan to have a larger number and wider diversity of prizes.</p>
        <p>As described in the <a href="/get-involved">rules for participation</a>, safety and following local regulations are paramount and any teams who are found to have been unsafe or violated regulations will be immediately disqualified.</p>
        <p>If writing a report in English for any of these prizes is extremely prohibitive, please contact us directly and we may be able to work out another form of submission. During judging, the home country of teams will be taken into account when judging clarity of the reports - professionalism is still expected.</p>
        <h2 class="underline medium">Technical Prizes</h2>
        <p id="altitude"><span class="big">Highest Altitude</span></p>
        <p>The name says it all- the team that records the highest altitude will win!</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the highest altitude prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>Teams must use APRS  or UKHAS Telemetry format [see <a href="/tracker">Current Balloon Tracking Methods</a>] to track their flight, tell us their call sign, and let us know at least two weeks before you plan to launch. Altitude measurements must be made by GPS only and not pressure or hybrid GPS/Pressure sensors. We will then require  your complete tracking information (this is stored in a database when using UKHAS formats). Contact us ahead of time if you wish to use something other than APRS or UKHAS and we will consider alternatives on a case by case basis.</li>
            <li>Teams must submit a technical description in English [2 pages max] of your mission.</li>
        </ol>
        <p>In an appendix of your description, feel free to include any other information to demonstrate the credibility of your altitude claim such as pictures of the set up, pictures from the launch day, pictures from the flight, or data from other sensors.</p>
        <p>Judging Criteria: Winners will be chosen based on their submitted altitude, with the technical description and tracking data used to verify the results.</p>
        <p id="photograph"><span class="big">Best Photograph</span></p>
        <p>Most images taken from altitude with the dark of space and curvature of the Earth are impressive. However, for this prize category we are looking not only for incredible photographs, but ones that are unique and artistic (see HAB Photography How To here [link to that page]). Sunrise, specific landmarks, amazing phenomena like the Aurora Borealis, one balloon at altitude from another, or landscapes with homemade objects suspended in front of the camera are all examples of awesome things you can photograph from a HAB that go beyond your standard image.</p>
        <p>Post flight editing of the image is allowed, but all photographs should accurately reflect the subject matter and the scene as it appeared. Photos that have been digitally altered beyond standard optimization (removal of dust, cropping, reasonable adjustments to exposure, color and contrast, etc.) will be disqualified. The GSBC team reserves the right to request the original image if excess alteration is suspected.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the best photograph prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>Teams must send us the complete GPS data recorded during your balloon flight. The GPS strings must include timestamp, latitude, longitude, and altitude. If you are using APRS, we will also require your call-sign that was used on the flight.</li>
            <li>Team must submit a technical description in English [2 pages max] of your mission.</li>
            <li>If post flight editing of the image has been done, part of the technical description must describe the editing that was done. The GSBC team reserves the right to request the original image if excess alteration is suspected.</li>
        </ol>
        <p>In an appendix of your description, feel free to include any other information to demonstrate that this picture was taken during the launch window and was taken by your balloon such as pictures of the set up, pictures from the launch day, other pictures from the flight, or data from other sensors.</p>
        <p>Judging Criteria: The top 30 photos will be chosen by the GSBC team and given to a panel of judges who will rank the photos. Based on their rankings, the Best Photograph will be chosen.</p>
        <p id="science"><span class="big">Best Science Experiment</span></p>
        <p>High altitude balloons are fantastic platforms for real science, from studying the atmosphere to the effects of radiation on microbes to the search for planets in distant galaxies. To encourage the scientific collaboration that we feel is very important for the GSBC, we will award a prize for the most creative, innovative, and thought-provoking science experiment run during the flight. With this prize, we are looking for teams that use their high altitude balloon flights to conduct creative, innovative, and thought-provoking science experiments. The experiment should be as scientifically rigorous as possible, and should return testable results.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the best science experiment prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>Teams must write a technical report [5 pages max] in English describing their experiment, the results, and why the results matter to the larger scientific community. Reports should include at minimum sections for Introduction, Materials and Methods, Results, and Discussion. If you need help knowing how to properly write a scientific paper, a good set of starting guidelines can be found <a href="http://www.columbia.edu/cu/biology/ug/research/paper.html">here</a>. Remember that scientific papers are one of the primary ways scientists communicate their research to others, so be concise, informative, and honest about what your results show!</li>
        </ol>
        <p>In an appendix to your report, feel free to include any other information to show that this experiment was performed through your payload and was launched during the GSBC timeframe, such as organized GPS strings, your APRS call sign, pictures of the set up, pictures from the launch day, or pictures from the flight.</p>
        <p>Judging Criteria: The top submissions will be given to a panel of judges who will then rank the submissions and determine a winner. All judging will be done based on the <a href="https://drive.google.com/file/d/0BzKyswvkCVexNVhJVTZlRVNTbjg/view?usp=sharing">Best Science Experiment Rubric</a>.</p>
        <p id="design"><span class="big">Best Design</span></p>
        <p>This is the prize for the most creative HAB mission. This category will take everything into account from launch location to data collected to size and construction of the payload and balloon to creativity in the approach and anything else that you can think of. We are purposefully leaving this vague so you can let your imagination run wild!</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the best design prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>Teams must write a report [5 pages max] in English telling us about what you did and why you should win!</li>
        </ol>
        <p>In an appendix to your report, feel free to include any other information to show that this was indeed your flight and was launched during the GSBC timeframe, such as organized GPS strings, your APRS call sign, pictures of the set up, pictures from the launch day, or pictures from the flight.</p>
        <p>Judging Criteria: The top submissions will be given to a panel of judges who will then rank the submissions and determine a winner. All judging will be done based on the <a href="https://drive.google.com/file/d/0BzKyswvkCVexcFVwTUxLeXU2NkE/view?usp=sharing">Best Design Rubric</a>.</p>
        <p id="innovative"><span class="big">Most Innovative Component</span></p>
        <p>Sometimes you want to test a very innovative concept but want the rest of your HAB to be incredibly simple to increase the probability of mission success. This prize will award the team that comes up with the most innovative component, whether it’s a flight termination unit, GPS transceiver, or even a mechanism for filling your balloon. Functionality for the component is incredibly important, but things like design, simplicity, and cost can also factor into the innovation.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the most innovative component prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>Teams must write a report [3 pages max] in English describing your component and why it is better than traditional options.</li>
        </ol>
        <p>In an appendix to your report, feel free to include any other information to show that this was indeed your flight and was launched during the GSBC timeframe, such as organized GPS strings, your APRS call sign, pictures of the set up, pictures from the launch day, or pictures from the flight.</p>
        <p>Judging Criteria: The top submissions will be given to a panel of judges who will then rank the submissions and determine a winner. All judging will be done based on the <a href="https://drive.google.com/file/d/0BzKyswvkCVexVy0ydnV5MUg1SXM/view?usp=sharing">Most Innovative Component Rubric</a>.</p>
        <h2 class="underline medium">Advanced Technical Prizes</h2>
        <p>The Advanced Technical Prizes are meant to challenge teams to truly push the boundaries of high altitude ballooning. They will be much harder to compete for and because of that, the prizes will be larger for the winners. However, we reserve the right to select no winners for these categories if we feel that no submissions portray an innovative approach.</p>
        <p id="ground"><span class="big">Most Innovative Component</span></p>
        <p>This prize will award the team whose balloon travels the longest distance over the surface of the Earth during the GSBC window - balloons must be launched and recovered during this window. Fly from one end of your country to the other, fly between countries, or even try to fly around the world!</p>
        <p>Bonus Prize: There will be a bonus prize for all involved if the team that launches the balloon and the team that recovers it are located in different countries.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the longest ground track prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>Teams must use APRS  or UKHAS Telemetry format [see <a href="/tracker">Current Balloon Tracking Methods</a>] to track their flight, tell us their call sign, and let us know at least two weeks before you plan to launch. Altitude measurements must be made by GPS only and not pressure or hybrid GPS/Pressure sensors. We will then require  your complete tracking information (this is stored in a database when using UKHAS formats). Contact us ahead of time if you wish to use something other than APRS or UKHAS and we will consider alternatives on a case by case basis.</li>
            <li>Teams must submit a technical description in English [5 pages max] of your mission.</li>
            <li>Teams must submit proof that the payload was recovered.</li>
            <li>If looking for the bonus prize, teams must submit proof that the launch and recovery teams took place in different countries. APRS or UKHAS telemetry data showing lift off and landing is sufficient.</li>
        </ol>
        <p>In an appendix of your description, feel free to include any other information to demonstrate the credibility of your ground track claim such as pictures of the set up, pictures from the launch day, pictures from the flight, or data from other sensors.</p>
        <p>Judging Criteria: Winners will be chosen based on the submitted ground track length, with the technical description and tracking data used to verify the results.</p>
        <p id="return"><span class="big">Return to Launch Site</span></p>
        <p>This prize will award the team whose payload travels up to minimum 80,000 ft / 24,000m and then comes back to land closest to the launch site without any active propulsion during descent (active guidance is allowed but nothing like propellers). Attach an unpowered glider, actively control your parachute, try to predict the winds just right - it will make your recovery so much easier! In the case of a tie, the team with the lighter payload will win. Be sure to follow any local regulations since this can vary tremendously country by country!</p>
        <p>Bonus Prize: There will be a bonus prize for all involved if two teams from different countries both return their payloads to the launch site using the same method. So if you work together, everyone wins!</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the return to launch site prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>Teams must use APRS  or UKHAS Telemetry format [see <a href="/tracker">Current Balloon Tracking Methods</a>] to track their flight, tell us their call sign, and let us know at least two weeks before you plan to launch. Altitude measurements must be made by GPS only and not pressure or hybrid GPS/Pressure sensors. We will then require  your complete tracking information (this is stored in a database when using UKHAS formats). Contact us ahead of time if you wish to use something other than APRS or UKHAS and we will consider alternatives on a case by case basis.</li>
            <li>Teams must submit a technical description in English [5 pages max] of your mission.</li>
            <li>Teams must submit proof that the payload was recovered.</li>
            <li>In the appendix of the description, teams must submit an explanation for how they followed their local regulation, including a citation of the local regulation.</li>
            <li>If looking for the bonus prize, teams must show that other teams used the same method successfully.</li>
        </ol>
        <p>In an appendix of your description, feel free to include any other information to demonstrate the credibility of your ground track claim such as pictures of the set up, pictures from the launch day, pictures from the flight, or data from other sensors.</p>
        <p>Judging Criteria: Winners will be chosen based on the submitted distance from the launch site that the payload lands, with the technical description and tracking data used to verify the results.</p>
        <h2 class="underline medium">Community Prizes</h2>
        <p>Since building the community is a huge goal of the GSBC, there will also be prizes for teams that go above and beyond to build out the worldwide HAB community and increase collaboration between groups.</p>
        <p id="video"><span class="big">Best Video</span></p>
        <p>The GSBC is all about communication and inspiring others - and videos are the best way to do that. This prize will award the team that comes up with the best video related to the GSBC. Tell your story, splice the highlights of your flight, or use your footage to convince kids that space is cool - anything and everything is allowed. Even if you want to work with other teams and use their video, that’s okay.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for best video must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a>. In the circumstance where a team did not fly a balloon and is making a video using others’ footage, that team must only meet the criteria not related to the flight of a HAB.</li>
            <li>Teams must submit proof that they have a right to the footage they are using in English [2 pages max].</li>
        </ol>
        <p>Judging Criteria: The top submissions will be given to a panel of judges who will then rank the submissions and determine a winner. All judging will be done based on the <a href="https://drive.google.com/file/d/0BzKyswvkCVexN1VBNXp3S3N5bEU/view?usp=sharing">Best Video Rubric</a>.</p>
        <p id="most-payloads"><span class="big">Most payloads flown throughout the GSBC</span></p>
        <p>We want to give everyone the chance to send their own creations to the edge of space - but sometimes the whole process of building and flying a HAB is too difficult. As an incentive for hosts in the Hosted Payloads program, this prize will reward the team that flies the most payloads made by other teams over the course of the GSBC launch window. A payload is defined as a self-sufficient package of electronics that performs a specific function and at minimum contains a tracker and a camera.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the most payloads flown throughout the GSBC prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>All payloads must belong to teams signed up for the GSBC.</li>
            <li>Teams must submit a report [2 pages max plus 1/2 page max for each payload] detailing all the payloads they launched for other teams along with messages from those other teams confirming that the payload was theirs and that they received the payload back after the flight.</li>
        </ol>
        <p>In an appendix of your description, feel free to include any other information to demonstrate the credibility of your ground track claim such as pictures of the set up, pictures from the launch day, pictures from the flight, or data from other sensors.</p>
        <p>Judging Criteria: Winners will be chosen based on the number of payloads flown, with the technical description and verification from other teams used to verify the results.</p>
        <p id="helpful"><span class="big">Most Helpful Team</span></p>
        <p>The most important part of the GSBC is community and working together. This prize will award the team that gets the most nominations from other teams for being incredibly helpful. Any team can nominate any other teams, but we will only count nominations from teams that flew payloads (successfully or unsuccessfully), except in the case of a tie. The nominated team must be signed up for the GSBC but does not have to fly a payload.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that are nominated for most helpful team must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a>. In the circumstance where the nominated team did not fly a balloon themselves, that team must only meet the criteria not related to the flight of a HAB.</li>
            <li>Teams that wish to have their nominations counted outside of a tie must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a> and have launched a balloon for the GSBC 2015.</li>
            <li>When nominating another team, teams must describe how they were helped by the team they wish to nominate.</li>
        </ol>
        <p>Judging Criteria: Winners will be chosen based on the number of nominations received.</p>
        <p id="charity"><span class="big">Most Charitable Team</span></p>
        <p>Adopt a charity! This is an opportunity to raise awareness and donations for a charitable cause by dedicating your balloon launch to a mission that your team cares about. It could be a medical condition, outreach to the poor or underprivileged, an environmental goal, youth education, or a local non-profit organization. Consider suspending a relevant object/message in front of the camera, launching meaningful objects with your payload (personal letters/mementos), branding your balloon with your charity, or inviting the charity to your launch. This prize is an incentive to make the world a better place through high altitude ballooning.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for the most charitable team prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>Teams must write a short report in English describing the charity/cause and how your team contributed to it.</li>
            <li>If donations were raised, either a letter from the organization verifying these funds or a link to the fundraising page should also be included. Teams cannot receive any monetary compensation from the charity for advertising.</li>
        </ol>
        <p>In an appendix of your report, feel free to include any other information to demonstrate the credibility of your ground track claim such as pictures of the set up, pictures from the launch day, pictures from the flight, or data from other sensors.</p>
        <p>Judging Criteria: The top submissions will be given to a panel of judges who will then rank the submissions and determine a winner. All judging will be done based on the <a href="https://drive.google.com/file/d/0BzKyswvkCVexZWU0RFlaRExRbHc/view?usp=sharing">Most Charitable Rubric</a>.</p>
        <p id="single"><span class="big">Most balloons launched from a single site on a single day</span></p>
        <p>Launching balloons is a lot of fun, but launching balloons with other people is even more fun! This prize will award the teams that have the most balloons launched from a single site on a single day and then recovered, with at least two separate teams launching together. Share the experience and make some new friends!</p>
        <p>However, ensure that you fulfill all local regulations around having multiple balloons fly from the same site and set up protocols to ensure everyone is safe.</p>
        <p>Bonus Prize: Bonus prizes will be given to all the teams involved if the teams launching together are from more than one country.</p>
        <p>Requirements for eligibility:</p>
        <ol>
            <li>All teams that wish to compete for this prize must fulfill the GSBC’s <a href="/get-involved">“Rules for Participation”</a></li>
            <li>All teams must submit a joint report [5 pages max] detailing all of the balloons they flew together, including how the teams came to meet each other, and proof that the teams launching together were unaffiliated.</li>
            <li>Teams must send us the complete GPS data recorded during all the balloon flights. The GPS strings must include timestamp, latitude, longitude, and altitude. If you are using APRS, we will also require your call-sign that was used on the flight. </li>
            <li>In the appendix to the report, teams must submit proof for how many payloads were recovered.</li>
            <li>In the appendix to the report, teams must submit an explanation that launching in this way did not violate any local regulation and cite the relevant local regulation.</li>
            <li>In the appendix to the report, teams must describe what they did to ensure these simultaneous launches were done safely.</li>
            <li>If trying for the bonus prize, teams must provide proof as to the country of origin for each team.</li>
        </ol>
        <p>In an appendix of your report, feel free to include any other information to demonstrate the credibility of your ground track claim such as pictures of the set up, pictures from the launch day, pictures from the flight, or data from other sensors.</p>
        <p>Judging Criteria: Winners will be chosen based on the number of balloons flown, with the report and tracking data used to verify the results.</p>
    </div>
</div>
