<% title "Radar Reflector" %>
<div class="primary section">
    <div class="content">
        <div class="product">
            <div class="info fifty">
                <h2 class="underline">Radar Reflector</h2>
                <p>A radar reflector is mandatory for balloonists in the USA. It is a requirement from the Federal Aviation Authority (FAA) for high flying payloads to be visible to aircraft radar at high altitudes. This helps avoid collisions even in conditions of poor visibility.</p>
                <p>Radar reflectors can be bought commercially or built yourself. We recommend doing it yourself because it is so easy! All you need is some cardboard as a support surface and aluminum foil as a minimum.</p>
                <p>When building your own, the biggest requirement is that the radar reflector is visible from all angle--ie, it is more than just a flat surface. Any shape (cubular, spherical) will work. You can attach it to your payload train by cutting a hole through the center and slipping it onto the rope. You can use tape (or other knotting techniques) to keep it in place.</p>
                <h3 class="underline smaller">Suggested Suppliers</h3>
                <ul>
                    <li>
                        <a href="http://davisnet.com/marine/products/marine_product.asp?pnum=00151">Davis Instruments</a>
                        <ul>
                            <li>$29.99</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="image fifty">
                    <img src="/radar/1.jpg">
                    <img src="/radar/2.jpg">
            </div>
        </div>
    </div>
</div>
