<% title "Regulations" %>
<div class="primary section">
    <h1 class="underline">Regulations</h1>
    <div class="content">
        <p>Every country has its own regulations surrounding the flight of high altitude balloons and it is critical to understand and follow them. Done improperly, HABs can be a hazard to airplanes and confuse air traffic controllers. In most cases, you must apply for a permit - either in advance or day of- and then notify the governing organization the day of the launch. In some countries, launching is limited to specific sites.</p>
        <p>We will upload more information to this site, especially for countries outside of the US, as time goes on. In the meantime, see below for a thorough description of the USA’s Federal Aviation Authority’s policies and see the forum for discussions of regulations in other countries.</p>
        <p>The basic policy for the FAA is that if your payload is under six pounds, you can call up your local FAA office on the day of your launch and receive permission. However, we recommend calling in advance to make sure that things go smoothly.</p>
        <h2 class="underline medium">FAA Policies on Unmanned Free Balloons 14 CFR Part 101</h2>
        <p><strong>General</strong>:  Subpart A (101.1) details payload criteria which must be used to determines whether unmanned free balloons must meet the provisions of Subpart D (101.31 through 101.39).  Balloons with the following payload weights and dimensions are not subject to the provisions of Subpart D:</p>
        <ul>
            <li>Balloon payloads that weigh less than four pounds and have a weight/size ratio of more than three ounces per square inch on any surface of the package, determined by dividing the total weight in ounces of the payload package by the area in square inches of its smallest surface.</li>
            <li>Balloon payloads packages that weigh less than six pounds.</li>
            <li>Balloons with payloads of two or more packages that weigh less than twelve pounds.</li>
            <li>Balloons that use a rope or other device for suspension of the payload that requires an impact force of fifty pounds or less to separate the suspended payload from the balloon.</li>
        </ul>
        <p><strong>Important note</strong>:  All unmanned free balloons are required to follow the provisions of part 101.7, Hazardous operations.  Balloons must be operated in a manner that does not create a hazard to other persons, or their property; and no person operating a balloon may allow an object to be dropped therefrom, if such action creates a hazard to other persons or their property.  Even though there are no notification requirements if a balloon is not subject to the provisions of Subpart D since it has a light-weight payload, operators should consider notifying local air traffic facilities as a courtesy if the balloons are launched near an airport, in a populated area, if multiple balloons will be launched from one location; etc.</p>
        <ul>
            <li><strong>Subpart D (101.31 through 101.39)</strong>:  Any balloons that have payload weights more than the limits in 101.1, must follow all the provisions in Subpart D.  The following summarized sections are included:
                <ul>
                    <li>101.31 – Applicability:  Provides criteria for operating in a Restricted Area.</li>
                    <li>101.33 – Operating limitations: Provides criteria concerning airspace, cloud coverage, visibility, congested areas and open-air assembly of persons, and impact hazards to persons and property not associated with the operation.</li>
                    <li>101.35 - Equipment and marking requirements: Provides criteria for required cut-down systems, radar reflectors, lights, and visibility markers and coloring.</li>
                    <li>101.37 – Notice requirements:   Provides criteria for providing notice to FAA ATC facility and a list of information that must be provided.</li>
                    <li>101.39 – Balloon position reports:  Provides criteria for providing position reports to ATC.</li>
                </ul>
            </li>
        </ul>
        <p>The entire 14 CFR Part 101 can be found at the following link: <a href="http://www.ecfr.gov/cgi-bin/ECFR?page=browse">http://www.ecfr.gov/cgi-bin/ECFR?page=browse</a></p>
        <p><strong>Important note</strong>:  Some provisions within Subpart D may either be waived or alternate procedures authorized by the FAA if official requests are submitted to the appropriate FAA Service Center.  The weight criteria within 101.1 Applicability cannot be waived.  Requests can be submitted using FAA Form 7711-2, Application for Certificate of Waiver or Authorization.</p>
    </div>
</div>
