<% title "Regulations" %>
<div class="primary section">
    <h1 class="underline">Regulations</h1>
    <div class="content">
        <p>Every country has its own regulations surrounding the flight of high altitude balloons and it is critical to understand and follow them. Done improperly, HABs can be a hazard to airplanes and confuse air traffic controllers. In most cases, you must apply for a permit - either in advance or day of- and then notify the governing organization the day of the launch. In some countries, launching is limited to specific sites.</p>
        <p>We will upload more information to this site, especially for countries outside of the US, as time goes on. In the meantime, see below for a thorough description of the USA’s Federal Aviation Authority’s policies and see the forum for discussions of regulations in other countries.</p>
        <p>The basic policy for the FAA is that if your payload is under six pounds, you can call up your local FAA office on the day of your launch and receive permission. However, we recommend calling in advance to make sure that things go smoothly.</p>
        <h2 class="underline medium">FAA Policies on Unmanned Free Balloons 14 CFR Part 101</h2>
        <p><strong>General</strong>:  Subpart A (101.1) details payload criteria which must be used to determines whether unmanned free balloons must meet the provisions of Subpart D (101.31 through 101.39).  Balloons with the following payload weights and dimensions are not subject to the provisions of Subpart D:</p>
        <ul>
            <li>Balloon payloads that weigh less than four pounds and have a weight/size ratio of more than three ounces per square inch on any surface of the package, determined by dividing the total weight in ounces of the payload package by the area in square inches of its smallest surface.</li>
            <li>Balloon payloads packages that weigh less than six pounds.</li>
            <li>Balloons with payloads of two or more packages that weigh less than twelve pounds.</li>
            <li>Balloons that use a rope or other device for suspension of the payload that requires an impact force of fifty pounds or less to separate the suspended payload from the balloon.</li>
        </ul>
        <p><strong>Important note</strong>:  All unmanned free balloons are required to follow the provisions of part 101.7, Hazardous operations.  Balloons must be operated in a manner that does not create a hazard to other persons, or their property; and no person operating a balloon may allow an object to be dropped therefrom, if such action creates a hazard to other persons or their property.  Even though there are no notification requirements if a balloon is not subject to the provisions of Subpart D since it has a light-weight payload, operators should consider notifying local air traffic facilities as a courtesy if the balloons are launched near an airport, in a populated area, if multiple balloons will be launched from one location; etc.</p>
        <ul>
            <li><strong>Subpart D (101.31 through 101.39)</strong>:  Any balloons that have payload weights more than the limits in 101.1, must follow all the provisions in Subpart D.  The following summarized sections are included:
                <ul>
                    <li>101.31 – Applicability:  Provides criteria for operating in a Restricted Area.</li>
                    <li>101.33 – Operating limitations: Provides criteria concerning airspace, cloud coverage, visibility, congested areas and open-air assembly of persons, and impact hazards to persons and property not associated with the operation.</li>
                    <li>101.35 - Equipment and marking requirements: Provides criteria for required cut-down systems, radar reflectors, lights, and visibility markers and coloring.</li>
                    <li>101.37 – Notice requirements:   Provides criteria for providing notice to FAA ATC facility and a list of information that must be provided.</li>
                    <li>101.39 – Balloon position reports:  Provides criteria for providing position reports to ATC.</li>
                </ul>
            </li>
        </ul>
        <p>The entire 14 CFR Part 101 can be found at the following link: <a href="http://www.ecfr.gov/cgi-bin/ECFR?page=browse">http://www.ecfr.gov/cgi-bin/ECFR?page=browse</a></p>
        <p><strong>Important note</strong>:  Some provisions within Subpart D may either be waived or alternate procedures authorized by the FAA if official requests are submitted to the appropriate FAA Service Center.  The weight criteria within 101.1 Applicability cannot be waived.  Requests can be submitted using FAA Form 7711-2, Application for Certificate of Waiver or Authorization.</p>
        <h2 class="underline medium">Notifying the FAA</h2>
        <p>For most high altitude balloon flights, the Federal Aviation Administration does not need to be notified prior to the launch. However, there are certain cases in which contacting the FAA is either recommended or required. This tutorial will walk you through contacting the FAA to make them aware of your balloon flight.</p>
        <p>The FAA must be notified within 24 hours of the launch if:</p>
        <ol>
            <li>The overall payload train weighs more than 12 lbm.</li>
            <li>A single package on the payload train weighs more than 6 lbm.</li>
            <li>The predicted percentage of cloud cover for the day of the launch is greater than 50%</li>
        </ol>
        <p>If any of these criteria are met, the FAA must be contacted. Below is a procedure for doing this:</p>
        <h3>HiBal Document</h3>
        <p>The first step towards informing the FAA of a HAB launch is to create a High Altitude Balloon Notice (HiBal). A HiBal document includes the following information:</p>
        <ol>
            <li>Name of the flight</li>
            <li>Date and time of the launch (in Zulu time)</li>
            <li>Location of the launch site</li>
            <li>Name of the location</li>
            <li>Latitude</li>
            <li>Longitude</li>
            <li>
                <span>VOR</span>
                <ol>
                    <li>Go to http://skyvector.com</li>
                    <li>Hover the mouse pointer over the globe icon labeled “Charts”</li>
                    <li>Click the map to choose the appropriate sectional chart</li>
                    <li>Find the VOR closest to the launch location (a VOR is a blue ring with bearings marked along the edge)</li>
                    <li>Right click on the blue center dot of the VOR and select “Plan”</li>
                    <li>Right click on the launch location and select “Plan GPS”</li>
                    <li>List launch location by putting the VOR three letter designation followed by the bearing and range. Example: SVM 058 022 is the VOR for a launch location at a distance of 22nm at a bearing of 58 degrees from the Salem VOR (designator SVM)</li>
                </ol>
            </li>
            <li>Maximum altitude in feet above sea level</li>
            <li>
                <span>Forecast trajectory and time to burst or time to 60,000 ft (whichever is less)</span>
                <ol>
                    <li>Use http://skyvector.com to add a waypoint. The resulting bearing and range is the forecast trajectory</li>
                    <li>Format as: “bearing/range NM re launch site.” Example: “38/010 NM re launch site” denotes a burst location (or location where balloon reaches 60,000 ft) at 10 nautical miles away from the launch site at a bearing of 38 degrees.</li>
                </ol>
            </li>
            <li>
                <span>Balloon and payload data</span>
                <ol>
                    <li>Size of balloon</li>
                    <li>Length of payload train</li>
                    <li>Number of packages</li>
                </ol>
            </li>
            <li>Flight duration. This is the estimated time from launch to landing</li>
            <li>
                <span>Forecast landing</span>
                <ol>
                    <li>Use http://skyvector.com to determine bearing and range of the landing relative to the launch site</li>
                    <li>Again format as: “bearing/range NM re launch site”</li>
                </ol>
            </li>
        </ol>
        <h3>Document Submission</h3>
        <p>In order to find the contact information for the relevant FAA field office, the nearest Flight Standards District Offices (FSDO) should be contacted.</p>
        <ol>
            <li>Go to http://www.faa.gov/about/office_org/field_offices/fsdo/</li>
            <li>Determine which FSDO is nearest to the launch location</li>
            <li>Click on “Contact the Office” to bring up the office phone number</li>
            <li>Call to notify them that your team is launch a high altitude balloon and would like to email them relevant information</li>
            <li>Ask for email addresses of any FAA facilities that they recommend coordination with</li>
            <li>Send HiBal document to the addresses supplied</li>
        </ol>
        <h3>Example</h3>
	    <p>Below is an example of a HiBal document as it will need to be submitted to the regional FSDO personnel.</p>
        <p>Note that the information contained within this document has been purposely falsified and should not be used for real HiBal submissions.</p>
        <img src="/regulation/example.png">
    </div>
</div>
