<% title "Rope and Fasteners" %>
<div class="primary section">
    <h1 class="underline">Rope and Fasteners</h1>
    <div class="content">
        <p>To connect separate parts of your balloon payload together, you’ll need string that is both strong and lightweight. Parachute cord works well for almost every application. It is typically rated at tens to hundreds of pounds, but is remarkably light. Kevlar can work extremely well as well.</p>
        <figure>
            <img src="http://puu.sh/cSLW5/33e4abc74b.png">
        </figure>
        <p>Other fasteners, such as carabiners, key-rings, and velcro are also extremely useful when creating a secure connection. These materials are readily available online or in any hardware store.</p>
        <h3>Suggested Resources</h3>
        <ul>
            <li><a href="http://www.netknots.com/rope_knots/">Knot tying tutorials</a></li>
        </ul>
    </div>
</div>
