<div class="primary section">
    <h1 class="underline">Safety</h1>
    <div class="content">
        <p>More information to come as the launch window gets closer.</p>
        <p>The GSBC urges teams to keep safety the number one priority throughout the entire design, build, and launch process. Here are some common areas that you should consider carefully. This list is not exhaustive. Remember that responsibility and integrity are distinguishing characteristics for engineers around the world.</p>
        <h2 class="underline medium">Aircraft Safety</h2>
        <p>Drifting high altitude balloons introduce a safety hazard for nearby aircraft, especially during the ascent and descent periods of the flight. Most countries have <a href="/regulations">regulations</a> in place to minimize this risk. In general, this includes:</p>
        <ul>
            <li>Notify your local air traffic controllers of your flight schedule and flight path before launch so that pilots can be notified</li>
            <li>Include a radar reflector in your payload train</li>
            <li>Make your payload as light as possible to reduce impact damage. For example, The USA enforces a maximum total payload weight of ~5.4 kg with no single package more than 2.7 kg</li>
            <li>Use rope with a maximum tension strength of 25 lbs to reduce impact damage</li>
        </ul>
        <h2 class="underline medium">Bystander Safety</h2>
        <p>You can reduce risk to any bystanders not directly involved in your HAB launch by considering the following precautions:</p>
        <ul>
            <li>Use a larger parachute to slow the descent of your payload and reduce the impact force on landing</li>
            <li>Insulate the bottom of your payload boxes with a soft, elastic material to reduce the impact force on landing</li>
            <li>Generate a predicted flight path. Use it to avoid flight profiles that land in major cities or large bodies of water. <a href="/flight-predictors">See flight predictions</a></li>
        </ul>
        <h2 class="underline medium">High Pressure Cylinders</h2>
        <p>Your lifting gas that inflates your balloon will come in a high pressure tank. Make sure that you are aware of the procedures to operate high pressure cylinders.</p>
        <ul>
            <li>Sample reference: <a href="https://safety.cat.com/cda/files/836625/7/High%20pressure%20air_V0111.1.pdf">https://safety.cat.com/cda/files/836625/7/High%20pressure%20air_V0111.1.pdf</a></li>
        </ul>
        <h2 class="underline medium">Flammability</h2>
        <p>If you are using hydrogen as a lifting gas, be aware of it’s high flammability. Here are some potentially useful resources that introduce the primary concerns. Please refer to our <a href="/helium">inflation page</a> for more information.</p>
        <ul>
            <li>Material Safety Data Sheet: <a href="https://engineering.purdue.edu/ChE/AboutUs/Safety/Hydrogen%20Use%20Guideline_October%202011.pdf">https://engineering.purdue.edu/ChE/AboutUs/Safety/Hydrogen%20Use%20Guideline_October%202011.pdf</a></li>
            <li>Wikipedia Article on Hydrogen Safety: <a href="http://en.wikipedia.org/wiki/Hydrogen_safety">http://en.wikipedia.org/wiki/Hydrogen_safety</a></li>
        </ul>
        <h2 class="underline medium">Payload Safety</h2>
        <p>When preparing your payload, especially if you are using custom electronics,  make sure that you are aware of:</p>
        <ul>
            <li>Electrostatic Discharge (ESD): these small electric arcs can short your circuit boards and irreparably damage integrated circuits. Make sure you know what is grounded! Read more about it here: <a href="http://www.gamersnexus.net/guides/920-electrostatic-discharge-prevent-esd">http://www.gamersnexus.net/guides/920-electrostatic-discharge-prevent-esd</a></li>
            <li>Soldering irons get hot (up to 800 C) and also produce fumes that should be well ventilated. Read more about it here: <a href="http://naples.cc.sunysb.edu/Admin/HRSForms.nsf/pub/EHSD0348/$File/EHSD0348.pdf">http://naples.cc.sunysb.edu/Admin/HRSForms.nsf/pub/EHSD0348/$File/EHSD0348.pdf</a></li>
            <li>High power electronics, like radios and antennas, can hurt operators if used incorrectly. For example, keep your hands off of the antenna when transmitting!</li>
        </ul>
        <h2 class="underline medium">Operational Safety During Launch</h2>
        <p>Launch day can be the most exciting event of the process. Make sure that the excitement does not interfere with your safety and the safety of your team.</p>
        <ul>
            <li>During “The Chase” of your balloon after liftoff, make sure that the driver is focused on the vehicle and the road rather than straining to see the balloon overhead.</li>
        </ul>
    </div>
</div>
