<% title "Supplies" %>
<div class="primary section">
    <h1 class="underline">High Altitude Balloons Supplies List</h1>
    <div class="content">
        <p>There are unlimited possibilities to what you can fly on a HAB, but this tutorial will show you what is absolutely necessary to carry out a successful mission. Supplies are separated into two categories, flight materials and launch materials.</p>
        <h2 class="underline medium">Flight Materials</h2>
        <h3><a href="/balloon">Balloon</a></h3>
        <p>There are many shapes, sizes, and types of balloons, but the most basic and easiest to use is the latex balloon.</p>
        <figure>
            <img src="/supplies/1.jpg">
        </figure>
        <p>Latex balloons are so nice to use because they are inexpensive compared with other types of balloons, are easy to handle during filling, and burst at high altitudes.</p>
        <p>The size of your balloon dictates the maximum lifting force the balloon can provide. A larger balloon means that it can hold more helium, which means that it can hoist a heavier payload. If you’ve never launched a HAB, we recommend going for a 600g or 800g balloon.</p>
        <h3><a href="/parachute">Parachute</a></h3>
        <p>Just as balloons carry the payload on the way up, the parachute carries the payload on the way down. It limits the speed of your payload, ensuring its safety as well as the safety of anyone or anything on the ground.</p>
        <figure>
            <img src="/supplies/2.jpg">
        </figure>
        <p>A 6 foot diameter parachute will provide enough braking power for just about any amateur balloon payload. Parachutes made for amateur rocketry work extremely well for balloons, and can be bought from just about any amateur rocketry shop.</p>
        <h3><a href="/radar-reflector">Radar Reflector</a></h3>
        <p>A radar reflector is a device that makes your balloon payload visible to radar detectors used by civil transport and military aircraft. In many countries, they are required to be used on any balloon payload.</p>
        <figure>
            <img src="/supplies/3.jpg">
        </figure>
        <p>The passive corner reflector is the simplest and cheapest type of reflector. They can be bought online from a number of suppliers or even made out of cardboard and a reflective material.</p>
        <h3><a href="/tracker">Tracker</a></h3>
        <p>You’ll want to know where your payload is during its journey, so you have to use a tracker. There are many different types of trackers on the market, so the type that works for you depends on your needs and experience level.</p>
        <p>Commercial satellite GPS trackers are reliable and easy to use, and are a popular tracker choice for many balloon teams. The downside to using these trackers is that many of these trackers have altitude caps, meaning that they won’t transmit their position above a certain altitude.</p>
        <figure>
            <img src="/supplies/4.jpg">
        </figure>
        <p>Be sure to know the operating conditions and limitations of your tracker before you launch.</p>
        <p>Radio-operated trackers don’t have this altitude limitation, but are sometimes more difficult to use and require special radio equipment. However, these trackers are used extensively by hobbyists and ameteur ballooners, so there is extensive documentation on the web.</p>
        <h3><a href="/rope">Rope and fasteners</a></h3>
        <p>To connect separate parts of your balloon payload together, you’ll need string that is both strong and lightweight. Parachute cord works well for almost every application. It is typically rated at tens to hundreds of pounds, but is remarkably light.</p>
        <figure>
            <img src="/supplies/6.jpg">
        </figure>
        <p>Other fasteners, such as carabiners, key-rings, and velcro are also extremely useful when creating a secure connection. These materials are readily available online or in any hardware store.</p>
        <h3><a href="/payload">Payload</a></h3>
        <p>In addition to the above materials, you should have a payload on your balloon train. This can be anything from a science experiment to a high quality camera to something completely wacky. Part of the fun of HABing is being creative and sending some really awesome stuff high into the atmosphere.</p>
        <figure>
            <img src="/supplies/7.jpg">
        </figure>
        <p>To contain your payload, you will need a soft and rigid payload structure or housing. This housing can also be used to contain your trackers, especially if they don’t have convenient attachment points for connecting string. Refer to our payload tutorial for more information on payloads and payload housings.</p>
        <h2 class="underline medium">Launch Materials</h2>
        <h3><a href="/helium">Helium</a></h3>
        <figure>
            <img src="/supplies/8.jpg">
        </figure>
        <p>All balloons must be filled with a lighter-than-air gas, typically helium or hydrogen. This provides the lifting force that carries your balloon to the upper atmosphere! In the USA, most balloonists typically use helium due to its commercial availability and safety. Hydrogen is cheaper and can give more lift due to its lower density--however, hydrogen is flammable and must be handled with extreme care. You’ll likely need at least one K-type cylinder of Helium which should be able to be purchased at a local supplier.</p>
        <h3><a href="/helium">Filling Valve</a></h3>
        <p>To get helium into the balloon from the tank, you’ll need a pressure valve. Simple valves are cheap and easy to use, but often lack features such as pressure gauges. Heavy duty regulators are more durable and have these useful features, but are substantially more expensive.</p>
        <figure>
                <img src="/supplies/9.jpg">
        </figure>
        <p>Along with a filling valve, a vinyl or rubber hose and hose clamps are required. These can be picked up at any hardware store.</p>
        <h3>Gloves</h3>
        <p>Oil from your hands can damage the balloon lining, so gloves are required when handling the balloon before launch. Latex or vinyl gloves are unobstructive, cheap, and available at any hardware store, but other types of gloves should be worn in cold weather. Leather gloves or insulated winter gloves are good for this purpose.</p>
        <figure>
                <img src="/supplies/10.jpg">
        </figure>
        <h3>Tools</h3>
        <p>Various tools are extremely useful when launching a balloon. Just a few tools that you’ll need are:</p>
        <ul>
            <li>crescent wrench for tightening filling valve</li>
            <li>scissors for cutting string and tape</li>
            <li>cable ties for closing off balloon</li>
            <li>duct tape for securing packages</li>
        </ul>
        <p>Your toolbox shouldn’t be limited to just these tools. You can never predict what might go wrong on a launch, so it’s advisable to bring as many tools as possible.</p>
        <h3>Extra Supplies</h3>
        <p>In addition to these launch supplies, it’s useful to have a number of extra or specialty supplies. What extra supplies you’ll need depends on your experience and the sophistication of your payload, but just a few that might be useful are:</p>
        <ul>
            <li>soldering iron</li>
            <li>multimeter</li>
            <li>programming cables</li>
            <li>technology manuals</li>
            <li>power inverter</li>
            <li>ladder</li>
            <li>long pruning shears</li>
            <li>handheld radios</li>
        </ul>
    </div>
</div>
