<% title "Flight Termination Unit" %>
<div class="primary section">
    <h1 class="underline">Flight Termination Unit</h1>
    <div class="content">
        <div class="blockImg">
            <img src="http://puu.sh/cSLxi/920453c004.png">
        </div>
        <p>A Flight Termination Unit (FTU) is used on high altitude balloons to sever the payloads from the balloon envelope before the burst altitude. In this way, teams can control the time of flight and predicted landing zone. In the USA, flight regulations require at least two methods of payload separation (balloon burst + FTU), such that if one method fails you can still guarantee payload recovery. Note that as long as your balloon is not underfilled, balloon burst is extremely reliable.</p>
        <p>FTUs are custom built packages that are located ABOVE your parachute. In this way, when actuated, they separate the balloon envelope from the parachute and payloads. There are many creative ways to design an FTU:</p>
        <ul>
            <li>Heating a nicrome wire with current to burn through a string</li>
            <li>Actuating a knife blade or scissors to cut the rope</li>
            <li>Using a solenoid to release a latch/knot</li>
        </ul>
        <p>Here are some designs that we found interesting:</p>
        <ul>
            <li><a href="http://umich.edu/~mburst/aboutus/technology/ftu.html">University of Michigan MBURST FTU</a></li>
            <li><a href="http://gascap420.tumblr.com/post/47037802735/flight-termination-unit">Team Gassy</a></li>
        </ul>
    </div>
</div>
