<div class="primary section">
  <h1 class="underline">Thanks for registering!</h1>
  <div class="content">
    <h3>Get involved!</h3>
    <%= link_to 'Create a team!', {controller: 'teams', action: 'new'}, class: 'btn inline' %>
    <%= link_to 'See who else is involved', {controller: 'teams', action: 'index'}, class: 'btn inline'%>
    <%= link_to 'Learn more about High Altitude Balloons', {controller: 'static_pages', action: 'about'}, class: 'btn inline'%>
  </div>
</div>