<div class="primary section">
    <h1 class="underline">Current Tracker Products</h1>
    <div class="content">
        <p>A GPS tracker is mandatory for eligibility within the GSBC and is required under most country’s <a href="/regulations">regulations</a>. The tracker allows a balloongineer to safely track their HAB throughout the flight and to recover your payload!</p>
        <p>There are many different options for tracking systems - see this <a href="/tracker">tutorial</a> for more information. This page will detail the most used, off the shelf GPS trackers.</p>
        <p>It is possible to assemble your own GPS (see here [link how to build your own tracker] for more information), but especially for newer ballooners, the GSBC highly recommends purchasing at least one of the tracking products below to ensure total successful tracking of your balloon. Space systems have redundancy to ensure mission success should one GPS fail. </p>
        <p>Another low cost option is to use your cell phone, which likely has GPS built into it already and can send consistent updates through cell or data networks. However, your cell phone will only have service up to ~5,000 feet and only if there is cell phone coverage within your flight trajectory. This is really only useful for finding your balloon trains exact position once landed.</p>
    </div>
</div>
<div class="primary section">
    <h2 class="underline"><a href="http://www.findmespot.com/en/index.php?cid=100">SPOT: Gen 3 GPS Locator</a> (Beginner)</h2>
    <div class="content">
        <div class="blockImg">
            <img src="http://placehold.it/500">
        </div>
        <p>Attributes:</p>
        <ul>
            <li>Price: $150</li>
            <li>Allows friends and family to follow your progress on a SPOT Share Page</li>
            <li>Great for plug n’ play operations</li>
            <li>-30 C to 60 C operating range</li>
            <li>3.43” x 2.56” x 1”</li>
            <li>4 oz</li>
            <li>4 AAA batteries (not included)</li>
        </ul>
        <p>Constraints:</p>
        <ul>
            <li>21,340 ft altitude max</li>
            <li>Operating price of $14.99/month for tracking services</li>
            <li>Must be face up to the sky to nominally communicate with GPS satellites - can be problematic if your payload lands upside down
-30 C minimum operating temperature</li>
        </ul>
        <p>Critical Thinking Suggestions:</p>
        <ul>
            <li>Insulate the GPS with foam covered in mylar (both found at your local hardware store)</li>
            <li>Run a balloon prediction here to know when your balloon will be below 21,340 ft so you can be waiting ahead of the balloon for a visual recovery! See our <a href="/flight-predictors">flight prediction page</a> for more information.</li>
            <li>Use 4 AAA NiMH rechargeable batteries to save on future costs (don’t forget a charger)!</li>
        </ul>
    </div>
</div>
<div class="primary section">
    <h2 class="underline"><a href="http://www.titanaerosolutions.com/the-packages/the-phoenix">Titan AeroSolutions LLC: The Phoenix</a> (Intermediate)</h2>
    <div class="content">
        <div class="blockImg">
            <img src="http://placehold.it/500">
        </div>
        <p>Attributes:</p>
        <ul>
            <li>Price: $300</li>
            <li>Frequency: 2 meter APRS (144 -148 MHz), 70 cm (420 - 450 MHz ), or 33 cm (902 - 928 MHz)</li>
            <li>Comes pre-configured for nominal balloon use (Plug n’ Play) - Just turn it on and go!</li>
            <li>Friends and family can track you on aprs.fi with your callsign (APRS only)</li>
            <li>GPS position is sent through cell phone towers to your Twitter to mitigate APRS signal loss below 500m</li>
            <li>Internal temperature and voltage is sent with every packet</li>
            <li>Capable of relaying 3 channels of data from any sister XBee (i.e. located on your payload) with every packet</li>
            <li>FoxHunt (morse code) running on 144.565 MHz is a tertiary tracking method included</li>
            <li>Send pre-defined touch-tone commands from the ground via handheld radio for remote  payload commanding (flight termination, ballast release, etc.)</li>
            <li>-20 C to 70 C operating range</li>
            <li>5.88” x 4.06” x 2.12”</li>
            <li>14 oz</li>
            <li>Includes a 3.7V Li-Ion battery that can be charged via USB cable</li>
        </ul>
        <p>Constraints:</p>
        <ul>
            <li><a href="http://www.arrl.org/ham-radio-licenses">$15 Amateur radio license required</a></li>
            <li>-30 C minimum operating temperature</li>
        </ul>
        <p>Critical Thinking Suggestions:</p>
        <ul>
            <li>Insulate the package with mylar (found at your local hardware store)</li>
            <li>Run a balloon prediction <a href="http://vmr.engin.umich.edu/Model/_balloon/index.py">here</a> to know where your balloon will be below 5,000 feet so you can be waiting ahead of the balloon for a visual recovery! See our <a href="/flight-predictors">flight prediction page</a> for more information.</li>
        </ul>
    </div>
</div>
<div class="primary section">
    <h2 class="underline"><a href="http://www.byonics.com/mt-aio">Byonics: Microtrak HA AIO</a> (Intermediate)</h2>
    <div class="content">
        <div class="blockImg">
            <img src="http://placehold.it/500">
        </div>
        <p>Attributes:</p>
        <ul>
            <li>Price: $320</li>
            <li>VHF APRS radio running on 144.390 MHz</li>
            <li>Comes pre-configured for nominal balloon use (Plug n’ Play) - Just turn it on and go!</li>
            <li>Friends and family can track you on aprs.fi with your callsign</li>
            <li>Can be re-programmed for custom settings with an additional $20 programming cable</li>
            <li>Battery voltage monitoring</li>
            <li>Temperature monitoring</li>
            <li>-20 C to 70 C operating range</li>
            <li>6.37” x 2.62” x 206”</li>
            <li>14 oz</li>
            <li>8 AA alkaline batteries (batteries not included)</li>
        </ul>
        <p>Constraints:</p>
        <ul>
            <li><a href="http://www.arrl.org/ham-radio-licenses">$15 Amateur radio license required</a></li>
            <li>Signal usually lost below digipeater radio horizon (~5,000 ft)</li>
            <li>Transmit only</li>
            <li>Does not include an antenna</li>
            <li>-20 C minimum operating temperature</li>
        </ul>
        <p>Critical Thinking Suggestions:</p>
        <ul>
            <li>Insulate the package with mylar (found at your local hardware store)</li>
            <li>Run a balloon prediction <a href="http://vmr.engin.umich.edu/Model/_balloon/index.py">here</a> to know where your balloon will be below 5,000 feet so you can be waiting ahead of the balloon for a visual recovery! See our <a href="/flight-predictors">flight prediction page</a> for more information.</li>
            <li>Use a rechargeable battery to save on future costs (don’t forget a charger)!</li>
        </ul>
    </div>
</div>
<div class="primary section">
    <h2 class="underline"><a href="http://ava.upuaut.net/store/index.php?route=product/product&path=75&product_id=104">Pi In the Sky Kit</a> (Advanced)</h2>
    <div class="content">
        <div class="blockImg">
            <img src="http://placehold.it/500">
        </div>
        <p>Attributes:</p>
        <ul>
            <li>Price: $149</li>
            <li>Based on a Raspberry Pi</li>
            <li>UHF Transmitter running on 434 MHz</li>
            <li>Can support live images</li>
            <li>Battery voltage monitoring</li>
            <li>Temperature sensor</li>
            <li>-20 C to 70 C operating range</li>
            <li>6.37” x 2.62” x 206”</li>
            <li>14 oz</li>
            <li>Battery holder and clip (batteries not included)</li>
        </ul>
        <p>Constraints:</p>
        <ul>
            <li>Recommended to use with UKHAS network - see a summary in the <a href="/tracker">Current Balloon Tracking Methods</a></li>
            <li><a href="http://www.arrl.org/ham-radio-licenses">$15 Amateur radio license required (except in Europe)</a></li>
            <li>You must <a href="http://ukhas.org.uk/guides:sdr_tracker">make your own ground station</a> to receive the telemetry and have it be within range of your HAB</li>
            <li>Transmit only</li>
            <li>Does not include a protective case</li>
            <li>-20 C minimum operating temperature</li>
        </ul>
        <p>Critical Thinking Suggestions:</p>
        <ul>
            <li>Insulate the package with mylar (found at your local hardware store)</li>
            <li>Run a balloon prediction <a href="http://vmr.engin.umich.edu/Model/_balloon/index.py">here</a> to know where your balloon will be below 5,000 feet so you can be waiting ahead of the balloon for a visual recovery! See our <a href="/flight-predictors">flight prediction page</a> for more information.</li>
            <li>Use 8 AAA NiMH rechargeable batteries to save on future costs (don’t forget a charger)!</li>
        </ul>
    </div>
</div>
<div class="primary section">
    <h2 class="underline"><a href="http://www.habduino.org/">HabDuino</a> (Advanced)</h2>
    <div class="content">
        <div class="blockImg">
            <img src="http://placehold.it/500">
        </div>
        <ul>
            <li>Very light</li>
            <li>Can be used for APRS</li>
            <li>Great for use with the UKHAS network - see a summary in the <a href="/tracker">Current Balloon Tracking Methods</a></li>
        </ul>
    </div>
</div>
<div class="primary section">
    <h2 class="underline"><a href="http://hamshop.cz/hab-a-aprs-c34/picotracker-v-3-1-stavebnice-i258/">Picotracker</a> (Advanced)</h2>
    <div class="content">
        <div class="blockImg">
            <img src="http://placehold.it/500">
        </div>
        <ul>
            <li>Very light</li>
            <li>Great for use with the UKHAS network - see a summary in the <a href="/tracker">Current Balloon Tracking Methods</a></li>
        </ul>
    </div>
</div>
