<% title "Tutorials" %>
<div class="primary section">
    <h1 class="underline"><%=yield(:title)%></h1>
    <div class="tutorials">
        <div class="tutorial">
            <a href="#">Tutorial Name</a>
            <p>Short description of the tutorial</p>
        </div>
        <div class="tutorial">
            <a href="#">Tutorial Name</a>
            <p>Short description of the tutorial</p>
        </div>
        <div class="tutorial">
            <a href="#">Tutorial Name</a>
            <p>Short description of the tutorial</p>
        </div>
        <div class="tutorial">
            <a href="#">Tutorial Name</a>
            <p>Short description of the tutorial</p>
        </div>
        <div class="tutorial">
            <a href="#">Tutorial Name</a>
            <p>Short description of the tutorial</p>
        </div>
    </div>
</div>
