<% title "Tutorials" %>
<div class="primary section">
    <h1 class="underline"><%=yield(:title)%></h1>
    <div class="tutorials">
        <h2 class="underline medium">HAB Overview</h2>
        <p>High Altitude Balloons are large latex balloons that are filled with either hydrogen or helium and carry small payloads up to around 100,000 ft.</p>
        <div class="tutorial">
            <a href="#">What is an HAB?</a>
            <p>Learn more about high-altitude balloons, their utilities, and how they are made.</p>
        </div>
        <div class="tutorial">
            <a href="#">Safety</a>
            <p>Understand the precautions necessary to work with HABs safely.</p>
        </div>
        <div class="tutorial">
            <a href="#">Regulations</a>
            <p>Learn how your local regulations affect the way you work with and use your HAB.</p>
        </div>
        <h2 class="underline medium">Balloons</h2>
        <p>Balloons are typically purchased components that are sized depending on the payload size and desired altitude.</p>
        <div class="tutorial">
            <a href="#">Balloon Overview</a>
            <p>Learn about the components that will go into the balloon, as well as where you can purchase them.</p>
        </div>
    </div>
</div>
