<% title "Tutorials" %>
<div class="primary section">
    <h1 class="underline"><%=yield(:title)%></h1>
    <div class="tutorials">
        <div class="tutorialBox">
            <h2 class="underline medium">HAB Overview</h2>
            <p>High Altitude Balloons are large latex balloons that are filled with either hydrogen or helium and carry small payloads up to around 100,000 ft.</p>
            <div class="tutorial">
                <a href="#">What is an HAB?</a>
            </div>
            <div class="tutorial">
                <a href="#">Safety</a>
            </div>
            <div class="tutorial">
                <a href="#">Regulations</a>
            </div>
        </div>
        <div class="tutorialBox">
            <h2 class="underline medium">Balloons</h2>
            <p>Balloons are typically purchased components that are sized depending on the payload size and desired altitude.</p>
            <div class="tutorial">
                <a href="#">Balloon Overview</a>
            </div>
        </div>
    </div>
</div>
