<% title "Tutorials" %>
<div class="primary section">
    <h1 class="underline"><%=yield(:title)%></h1>
    <div class="graphic">
        <img src="/balloon-graphic.png">
    </div>
    <div class="tutorialLinks">
        <div class="tutorials">
            <div class="tutorialBox full">
                <h2 class="underline medium">High Altitude Balloon Overview</h2>
                <p>High Altitude Balloons are large latex balloons that are filled with either hydrogen or helium and carry small payloads up to around 100,000 ft.</p>
                <div class="tutorial">
                    <a href="/what-is-a-hab">What is a HAB?</a>
                </div>
                <div class="tutorial">
                    <a href="/supplies">Supplies List</a>
                </div>
                <div class="tutorial">
                    <a href="/flight-predictors">Flight Path Predictions</a>
                </div>
                <div class="tutorial">
                    <a href="#">Mission Operations</a>
                </div>
                <div class="tutorial">
                    <a href="/regulations">Regulations</a>
                </div>
                <div class="tutorial">
                    <a href="/safety">Safety</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Camera</h2>
                <p>Mount a camera in your payload box to capture video to space and back!</p>
                <div class="tutorial">
                    <a href="/camera">Camera Overview</a>
                </div>
                <div class="tutorial">
                    <a href="#">Camera Intro</a>
                </div>
                <div class="tutorial">
                    <a href="#">HAB Photography How To</a>
                </div>
            </div>
            <div class="tutorialBox wider">
                <h2 class="underline medium">GPS Tracker and Radio</h2>
                <p>A GPS tracker shall be used that sends your geographic position to a webpage so that you can track down and recover your balloon.</p>
                <div class="tutorial">
                    <a href="#">Current Amateur Communication Methods</a>
                </div>
                <div class="tutorial">
                    <a href="#">Current Tracker Products</a>
                </div>
                <div class="tutorial">
                    <a href="#">Creating Your Own Tracker</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Balloon</h2>
                <p>Balloons are typically purchased components that are sized depending on the payload size and desired altitude.</p>
                <div class="tutorial">
                    <a href="/balloon">Balloon Details</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Payload</h2>
                <p>An insulated payload box holds all of your  components like a camera, GPS tracker, radio and sensors.</p>
                <div class="tutorial">
                    <a href="#">Payload Details</a>
                </div>
                <div class="tutorial">
                    <a href="#">Power</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Parachute</h2>
                <p>The parachute engages once the payload is in free fall and slows its descent to the ground.</p>
                <div class="tutorial">
                    <a href="/parachute">Parachute Details</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Inflation</h2>
                <p>Balloons are typically inflated with helium and usually require an inflation tube.</p>
                <div class="tutorial">
                    <a href="/helium">Inflation Details</a>
                </div>
            </div>
            <div class="tutorialBox advanced">
                <h2 class="underline medium">Sensors</h2>
                <p>Not a requirement for beginning balloonist. Record temperature, pressure, and other atmospheric data data of the upper stratosphere using commercial sensors.</p>
                <div class="tutorial">
                    <a href="#">Sensor Details</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Radar Reflector</h2>
                <p>Radar reflectors are required so that planes can spot a balloon in the air.</p>
                <div class="tutorial">
                    <a href="/radar-reflector">Radar Reflector Details</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Rope</h2>
                <p>Tie all of your components together with a 25 lb tension rope.</p>
                <div class="tutorial">
                    <a href="#">Rope Details</a>
                </div>
            </div>
            <div class="tutorialBox advanced">
                <h2 class="underline medium">Flight Termination Unit</h2>
                <p>Not a requirement for beginning balloonists. This unit is designed to break the rope and release the payload at a specific time.</p>
                <div class="tutorial">
                    <a href="#">Flight Termination Unit Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
