<% title "Tutorials" %>
<div class="primary section">
    <h1 class="underline"><%=yield(:title)%></h1>
    <div class="graphic fifty">
        <img src="/balloon-graphic.png">
    </div>
    <div class="tutorialLinks fifty">
        <div class="tutorials">
            <div class="tutorialBox">
                <h2 class="underline medium">HAB Overview</h2>
                <p>High Altitude Balloons are large latex balloons that are filled with either hydrogen or helium and carry small payloads up to around 100,000 ft.</p>
                <div class="tutorial">
                    <a href="#">What is an HAB?</a>
                </div>
                <div class="tutorial">
                    <a href="#">Safety</a>
                </div>
                <div class="tutorial">
                    <a href="/regulations">Regulations</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Balloons</h2>
                <p>Balloons are typically purchased components that are sized depending on the payload size and desired altitude.</p>
                <div class="tutorial">
                    <a href="/balloon">Balloon Overview</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Inflation</h2>
                <p>Balloons are typically inflated with helium and usually require an inflation tube.</p>
                <div class="tutorial">
                    <a href="/helium">Helium/Inflation Tube Overview</a>
                </div>
                <div class="tutorial">
                    <a href="#">Inflation Tutorial</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Rope</h2>
                <p>Tie all of your components together with a 25 lb tension rope.</p>
                <div class="tutorial">
                    <a href="#">Rope Overview</a>
                </div>
                <div class="tutorial">
                    <a href="#">Knot Tying Tutorials</a>
                </div>
            </div>
            <div class="tutorialBox advanced">
                <h2 class="underline medium">Flight Termination Unit</h2>
                <p>Not a requirement for beginning balloonists. This unit is designed to break the rope and release the payload at a specific time.</p>
                <div class="tutorial">
                    <a href="#">Unit Overview</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Parachute</h2>
                <p>The parachute engages once the payload is in free fall and slows its descent to the ground.</p>
                <div class="tutorial">
                    <a href="/parachute">Parachute Overview</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Radar Reflector</h2>
                <p>Radar reflectors are required so that planes can spot a balloon in the air.</p>
                <div class="tutorial">
                    <a href="/radar-reflector">Radar Reflector Overview</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Payload Box</h2>
                <p>An insulated payload box holds all of your  components like a camera, GPS tracker, radio and sensors.</p>
                <div class="tutorial">
                    <a href="#">Payload Box Overview</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">GPS Tracker</h2>
                <p>A GPS tracker shall be used that sends your geographic position to a webpage so that you can track down and recover your balloon.</p>
                <div class="tutorial">
                    <a href="#">GPS Tracker Overview</a>
                </div>
            </div>
            <div class="tutorialBox">
                <h2 class="underline medium">Camera</h2>
                <p>Mount a camera in your payload box to capture video to space and back!</p>
                <div class="tutorial">
                    <a href="/camera">Camera Overview</a>
                </div>
            </div>
            <div class="tutorialBox advanced">
                <h2 class="underline medium">Radio</h2>
                <p>Not a requirement for beginning balloonist. A radio can be used to broadcast your position to a ground station and APRS.</p>
                <div class="tutorial">
                    <a href="#">Radio Overview</a>
                </div>
                <div class="tutorial">
                    <a href="#">APRS Tutorial</a>
                </div>
            </div>
            <div class="tutorialBox advanced">
                <h2 class="underline medium">Sensors</h2>
                <p>Not a requirement for beginning balloonist. Record temperature, pressure, and other atmospheric data data of the upper stratosphere using commercial sensors.</p>
                <div class="tutorial">
                    <a href="#">Sensor Overview</a>
                </div>
            </div>
        </div>
    </div>
</div>
