<div class="primary section">
    <h1 class="underline">What is a High Altitude Balloon (HAB)?</h1>
    <div class="content">
        <h2 class="underline medium">Overview</h2>
        <p>A High Balloon (HAB) is a big latex balloon that is capable of carrying a bunch of objects to near space. These balloons are filled with helium or hydrogen and expand as they ascend through Earth’s atmosphere. The objects that are attached to a HAB is often referred to as the payload train and each payload serves a particular purpose. These must include a parachute, radar reflector, and communication tracker. The fun additions are the cameras and your science experiments - you are required to carry a camera for the GSBC.</p>
        <figure>
            <img src="/what/1.png">
            <figcaption>Fig. 1: A HAB in flight.</figcaption>
        </figure>
        <p>HAB’s are awesome because they allow you quick and affordable access to space! Some call it “the poor man’s space program”. People fly HAB’s every day around the world. In the United States, the National Weather Service (NWS) flies HAB’s twice each day to measure the atmospheric characteristics to help drive their forecast models. They are launched from weather stations and airports all across the country. If there is extreme weather, they will launch a 3rd weather balloon to increase the accuracy of their models.</p>
        <figure>
            <img src="/what/2.jpg">
            <figcaption>Fig 2: A weather balloon!</figcaption>
        </figure>
        <p>Although you and I might launch a HAB for similar science, there are an infinite number of possibilities that can be achieved with HABs. Let’s first talk about not so sciencey reasons.</p>
        <h2 class="underline medium">Records in Amateur Ballooning</h2>
        <p>(Disclaimer: The HABs mentioned in this section are latex HABs - they eventually burst)</p>
        <p>How high do you think the highest HAB has flown? What is the most weight a HAB has carried? What’s the furthest distance a HAB has traveled?</p>
        <p>The answers to these questions and more can be found at <a href="http://arhab.org">arhab</a> - amateur radio high altitude ballooning.</p>
        <p>The current altitude record is 145,590 feet (27.6 miles). The largest payload weight carried to space on a HAB is 49 pounds. Arguably the most impressive is the distance record - 8,777 miles or from Australia to Brazil! In fact, there is currently a high altitude balloon up that has been in the air for well over 100 days!</p>
        <h2 class="underline medium">High Altitude Environments</h2>
        <p>Let’s jump to the conditions of a typical HAB flight. We all need to take an appreciation for the amazing engineering that goes behind these systems because what I show you in the next section is the big leagues.</p>
        <figure>
            <img src="/what/3.png">
            <figcaption>Fig 3: Where do balloons float?</figcaption>
        </figure>
        <p>Temperatures of a HAB flight can range from 20C to -60C and lower. We’re gonna say this over and over but most commercial electronic components are only rated for a minimum temperature of -40C and most batteries completely fail at -20C. YIKES!</p>
        <p>When you fly in an airplane (~30,000 feet) you are actually above 70% of Earth’s atmosphere. Furthermore, if the Earth were a basketball, the atmosphere would be the size of a piece of paper, sliced in half, and wrapped around the basketball. OUR ATMOSPHERE IS SOOO FRAGILE.</p>
        <p>But why should you care? Because it means  your HAB will enter a near vaccuum where the atmospheric pressure becomes 0.02% of the Earth’s surface. This gives way to <a href="http://en.wikipedia.org/wiki/Outgassing">outgassing</a> and potential <a href="http://en.wikipedia.org/wiki/Electric_arc">arcing</a> of electronic components. DOUBLE YIKES!</p>
        <p>Last but not, least the most dangerous part of your flight will be the burst. Not the landing, the burst. You can expect to see accelerometer readings of 8 G’s at the burst. We’ve seen our bottom payload whiplash towards the sky and become our top payload for a good 30 seconds.</p>
        <p>This all just brings us back to one of <a href="https://www.youtube.com/watch?v=RkGUowLRF5s">our favorite scenes in Armageddon</a> where Owen Wilson asks Billy Bob Thorton the kind of environment they will experience on the asteroid. Space is literally the scariest environment imaginable.</p>
        <h2 class="underline medium">The Big Leagues of High Altitude Ballooning</h2>
        <p>So earlier we stated how some people think that HABs are the poor man’s space. To some degree yes, but it’s actually the affordable section of space. Just look at what Google is doing with Project Loon.</p>
        <div class='embed-container'>
            <iframe src='http://www.youtube.com/embed/mcw6j-QWGMo' frameborder='0' allowfullscreen></iframe>
        </div>
        <p>These balloons are thousands of dollars and are called <a href="http://en.wikipedia.org/wiki/Superpressure_balloon">super-pressure balloons</a>. The internal gas stays the same pressure relative to the outside atmosphere to help maintain buoyancy. Still not impressed? Well check out what NASA, Red Bull, and Alan Eustace are doing with them.</p>
        <div class='embed-container'>
            <iframe src='http://www.youtube.com/embed/RR3JpUVJw5Y' frameborder='0' allowfullscreen></iframe>
        </div>
        <div class='embed-container'>
            <iframe src='http://www.youtube.com/embed/dOoHArAzdug' frameborder='0' allowfullscreen></iframe>
        </div>
        <div class='embed-container'>
            <iframe src='http://www.youtube.com/embed/Phzbv24_rHo' frameborder='0' allowfullscreen></iframe>
        </div>
        <h2 class="underline medium">Summary</h2>
        <p>So we’ve gone over what a HAB is and we hope you’re motivated to join this awesome community. Think of the next craziest idea and make it a reality. Go find out where the gaps in science and technology are and fly your own experiments. When all is said and done - DON’T BE AFRAID TO FAIL. It happens. The bad engineers give up, the good engineers find an excuse, and the great engineers become motivated. Which one will you be?

Now head <a href="/supplies">here</a> to see what supplies you need to actually go build your very own high altitude balloon!</p>
    </div>
</div>
