<%title "Winners" %>
<style>
  img {margin: 20px;}
</style>
<div class="primary section">
  <div class="content">
    <h1>Technical Prizes</h1>
      <h2>Highest Altitude</h2>
        <div class="fifty">
          <h3>1st Place: Random Aerospace</h3>
          <h5>Prize: Team Names and individual names will be laser-etched on a Planet Labs satellite before its launch to space</h5>
          <p>
            Achieving an altitude of 42895 m (140,732ft), Random Aerospace is the winner of the “Highest Altitude” prize for GSBC 2015. The team flew a sub 50g payload on a hydrogen filled 1600g Hwoyee balloon, combining a homemade UKHAS style radio tracker with a uBlox7C GPS module and a modified “808” #18 keyring camera for the lightest payload in the GSBC. Flying again just two days later, the team achieved an altitude of 42318m (138839ft). Both flights were performed in the UK, where Random Aerospace also runs an <a href="http://randomsolutions.co.uk/Random_Aerospace/Welcome.html" target="_blank">online store for HAB components</a> for customers worldwide. Congratulations to Random Aerospace for reaching the highest altitude of any team in the history of the GSBC.
          </p>
        </div>
        <div class="fifty">
          <a href="/winner_docs/randomaero.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
          <img src="/winner_docs/random_aerospace.jpg" alt="">
        </div>
  
      <h2>Best Photograph</h2>
        <div class="fifty">
          <h3>1st Place: NearSpaceBallooning</h3>
          <h5>Prize: Pi In the Sky Tracker from HAB Supplies</h5>
          <p>
            Showing their prowess as high altitude photographers, NearSpaceBallooning follows their achievement in 2014 by again winning the “Best Photograph” prize category for GSBC 2015. Flying in northeastern Arizona, the team leveraged its four cameras - a GoPro Hero 3+ Black, an Olympus Pen E-PL5, a Canon PowerShot G15, and a Fuji X-T1 - to capture the image that all judges agreed was the most impressive submission. Team lead John Flaig has shared some his lessons learned with the GSBC through the “HAB Photography” tutorial on the GSBC tutorials page and you can find more incredible images taken by the team on their website: <a href="http://nearspaceballooning.com/" target="_blank">http://nearspaceballooning.com/</a>. Congratulations to NearSpaceBallooning on yet another incredible flight.
          </p>          
        </div>
        <div class="fifty">
          <img src="/winner_docs/nearspace.jpg" alt="">
        </div>
        <div class="fifty">
          <h3>2nd Place: Project Ikarus</h3>
          <h5>Prize: 2 300g balloons from SSTL and a 1m parachute from High Altitude Science</h5>
          <p>
            Capturing the launch of their first high altitude glider on camera, Project Ikarus was the runner up for the “Best Photograph” prize. Founded a few years ago, the IKARUS project is an extra-curricular program that brings together children and adults throughout Switzerland to help them leverage their creativity and imagination to solve difficult problems. Congratulations on another successful flight and fantastic photograph.
          </p>        
        </div>
        <div class="fifty">
          <img src="/winner_docs/Pagasus01.jpg">
        </div>
        <div class="fifty">
          <h3>3rd place: LKN Sky 2&amp;3</h3>
          <h5>Prize: 1 300g balloon from SSTL and a 1m parachute from High Altitude Science</h5>
          <p>
            Flying over Southern Poland and into Slovakia with a Canon G 15 camera, LKN Sky has taken 3rd place in the “Best Photograph” prize category. LKN Sky is made up of students who are members of the Aviation Students Scientific Association (Lotnicze Koło Naukowe) at the National Defence University based in Warsaw, Poland. This was only their second balloon flight and we congratulate them on this fantastic image and wish them luck with the many more flights we are sure will follow.
          </p>        
        </div>  
        <div class="fifty">
          <img src="/winner_docs/07.jpg">
        </div>
  
      <h2>Best Science Experiment</h2>
        <div class="fifty">
          <h3>1st Place: JADE</h3>
          <h5>Prize: Byonic GPS module, 2 800g balloons and 1 500g balloon from SSTL, and 2 72” parachutes from Sperachutes</h5>
          <p>
            With their study of using moss to determine ozone concentration in the stratosphere, Team JADE of Poland is the winner of the “Best Science Experiment” prize for GSBC 2015. Numerous samples were placed in test tubes and flown to altitude inside the balloon payload, while controls were kept in various conditions on the ground. Upon recovering the payload, the samples were cut up, studied under a microscope, and put through a series of other tests to assess cell damage, changes in cell size and chlorophyll intensity, and chlorophyll degradation. The team learned much about the varying responses of the different species to temperature, ozone, radiation, and pressure changes and hope to use this for future biomonitoring experiments. Congratulations to Team Jade on completing a very unique and thorough experiment with exciting results.
          </p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/biometeopaper.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
          <img src="/winner_docs/JADE.png" alt="">
        </div>
        

        <div class="fifty">
          <h3>2nd Place: IRBE-1</h3>
          <h5>Prize: 1 350g balloon and a 1m parachute from High Altitude Science</h5>
          <p>
            Team IRBE-1 from Ventspils University College wins runner-up for the “Best Science Experiment” prize. The team from Latvia snapped and processed pictures in near-infrared light as well as visible light at various altitudes to glean valuable information about the health of crops and urbanization levels. The results from their experiment may also be used in the future for flood hazard avoidance. This innovative approach to aerial photography was executed wonderfully and is highly relevant to Latvia’s number one industry – agriculture. Congratulations to team IRBE-1 on a successfully mission and detailed study.
          </p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/IRBE-1_scietific_report.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
          <img src="/winner_docs/IRBE-1.png" alt="">
        </div>
  
      <h2>Best Design</h2>
        <div class="fifty">
          <h3>1st place: Borealis</h3>
          <h5>Prize: 1 Eagle Flight Computer and a 1m parachute from High Altitude Science, 2 600g and 1 300g balloons from SSTL, 1 Arduino, 1 52” parachute from Sperachutes</h5>
          <p>
            With their novel approach to controlling altitude through a vent valve, Team Borealis captured first place in the “Best Design” prize category of GSBC 2015. The team from Montana State University and the Montana Space Grant Consortium designed their own servo controlled valve that is activated via an Arduino based on either on board pressure measurements or commands from the ground sent via satellite modem. Their altitude data demonstrates that they were able to control the rise rate of the balloon effectively from the ground and then end the mission with their own flight termination system, key to any controlled altitude balloon system. Congratulations to team Borealis on the first successful flight of the valve in conjunction with the satellite modem!
          </p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/AHAC14_Basta_Paper.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>

          <img src="/winner_docs/Borealis.jpg" alt="">
        </div>
        
        <div class="fifty">
          <h3>2nd place: Stratocaching</h3>
          <h5>Prize: 2 350g balloons and a 1m parachute from High Altitude Science</h5>
          <p>Stratocaching is the runner-up team for “Best Design” in this year’s Global Space Balloon Challenge. The Stratocaching team hails from Prague, Czech Republic and is affiliated with the Not Rocket Science association. Their 2015 space balloon hosted and released an innovated article coined the “Stratocache Superseed”. This Superseed is a payload module that takes the form of a maple seed – when dropped, the module can spiral and descend slowly without a parachute. Data and video footage from the event proved the efficacy of the design as it spun continuously before hitting the ground at a surprisingly low speed. The Stratocaching team also uses this design in a yearly Stratocaching event which combines the thrill of a high altitude balloon flight and a geocaching game. Congratulations to team Stratocaching for the development of such a unique ideal and the flight of the largest Superseed yet!</p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/GLOBAL_SPACE_BALLOON_CHALLENGE_2015.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
          <img src="/winner_docs/Stratocaching.jpg" alt="">
        </div>
  
      <!-- <h2>Most Innovative Component</h2> -->
      <h2>Best Space Technology Demonstration</h2
      >
        <div class="fifty">
          <h3>1st place: MONSTER</h3>
          <h5>Prize: $500 and 4 platinum tickets to either New Space 2016 or Space 2016</h5>
          <p>
            With the flight of their Software Defined Radio (SDR), team MONSTER won the “Best Space Technology Demonstration” prize of GSBC 2015 sponsored by the Students for the Exploration and Development of Space (SEDS). The team flew two balloons southeast of Moscow, Russia a few minutes apart and not only had each balloon send information back to the ground via SDR, but had them send information back and forth to each other, and then relay that information to the ground for confirmation. The team’s communication was based on a BladeRF SDR controlled via a Raspberry Pi 2 with GNU radio on the software side. They effectively studied the communication between the two HABs, looking at signal to noise ratio, ability to switch between transmitting and receiving efficiently, and comparing packet receival time and frequency between the balloons and the ground stations. The team hopes to leverage this technology for satellite communication - congratulations to team MONSTER on their first successful demonstration of this system!
          </p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/SpaceTechDemo-MONSTER-team-Report.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
          <img src="/winner_docs/MONSTER.jpg" alt="">
        </div>
  
    

    <h1>Advanced Technical Prizes</h1>
      <h2>Longest Ground Track</h2>
        <div class="fifty">
          <h3>1st place: Random Race</h3>
          <h5>Prize: Team Names and individual names will be laser-etched on a Planet Labs satellite before its launch to space</h5>
          <p>
            With a long trek from the ocean into the snowy Russian mountains, team RandomRace takes first place in the "Longest Ground Track" category by recovering their payload (including brandy!) after a flight going 250km. RandomRace is an organization based in St Petersburg that uses HABs to bring people in their community together and get them excited about science and technology; they launch with students at schools and for GSBC 2014 flew from Palace Square with hundreds of onlookers. This year, team RandomRace assembled their payload with a homemade 433 Hz transmitter, their own pressure and temperature data loggers, and various different trackers to ensure they could track it down. They trekked to the black sea coast and released their balloon, capturing gorgeous pictures of the surrounding mountains and then spending two days traveling to the site of the landing, including several hours of backpacking, to recover their precious payload. Congratulations to team RandomRace on another successful flight and true adventure! For an entertaining story of the trip with some incredible photos from their trek, check out their website: <a href="http://www.randomrace.ru/2015/gsbc/eng/" target="_blank">http://www.randomrace.ru/2015/gsbc/eng/</a>
          </p>
        </div>
        <div class="fifty">
          <img src="/winner_docs/randomrace.jpg" alt="">
        </div>
       <!--  <div class="fifty">
          <a href="/winner_docs/randomaero.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
        </div> -->
        <div class="fifty">
          <p>Though these teams did not meet all of the rules for the Longest ground track, we also wanted to give honorable mention to two teams that flew insane distances aiming for the GSBC prize:</p>

          <p>The Stanford Space Initiative team flew from near San Francisco, Califonia, USA up to southern Canada in a trip well over 1000 km - unfortunately it did not happen until May, but congratulations to SSI for their tremendous progress! Check out more about the team's journey on their website: <a href="http://stanfordssi.org/balloonsblog/70-the-international-launch-of-ssi-22" target="_blank">http://stanfordssi.org/balloonsblog/70-the-international-launch-of-ssi-22</a></p>

          <p>Team HABEX of South Africa flew 650 km on their flight through three countries until they lost their payload in the water. Congratulations on an incredible flight and better luck recovering next time!</p>

        </div>
        <div class="fifty"></div>
    

    <h1>Community Prizes</h1>
      <h2>Best Video</h2>
        <div class="fifty">
          <h3>1st place: Lovett Makers Club</h3>
          <h5>Prize: 1 Eagle Flight Computer from High Altitude Science, 3 Arduinos, and 1 500g and 2 300g balloons from SSTL</h5>
          <p>
            The Lovett Makers Club is the winner of this year’s “Best Video” prize! The Lovett Makers Club is an after-school alliance of young students that explores and innovates on modern technologies. This was their first entry to the Global Space Balloon Challenge, and second balloon launch overall. The team launched from rural Georgia, USA and their balloon flight was a complete success, capturing stunning views of the Georgia wildlife. In recognition of an inspiring and superbly edited narrative, the Lovett Makers Club wins “Best Video” - congratulations on their continuing success!
          </p>        
        </div>
        <div class="fifty">
          <iframe src="https://player.vimeo.com/video/128382824" width="500" height="264" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/128382824">The Lovett Makers Club High Altitude Balloon</a> from <a href="https://vimeo.com/jameskolsby">James Kolsby</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
  
      <!-- <h2>Most Payloads Flown Throughout the GSBC</h2> -->
      <h2>Most Helpful Team</h2>
        <div class="fifty">
          <h3>1st place: SHARP</h3>
          <h5>Prize: 5 education electronics boards from Ti, 1 inflator, 3 350g balloons, and 3 1m parachutes from High Altitude Science</h5>
          <p>
            Launching with four other schools from the same site and playing a critical role in the success of each school, Team SHARP is the winner of the “Most Helpful Team” prize.  The four teams launching with Team SHARP were all flying their first balloon, and nominated Team SHARP for not only giving them the idea to fly, but helping every step of the way. Team SHARP helped the teachers figure out the best way to split up their students, lent equipment for payloads and experiments, and even gave their extra balloon to one of the teams who accidentally let theirs go in strong winds before they were ready on the day of the flight. Team SHARP’s commitment and strong leadership was clear when all five teams successfully recovered their balloons, to the delight of everyone involved. Congratulations Team SHARP for leading such a successful event and thank you for your dedication to your community! Special thank you to Rob Streimer who led Team SHARP and has been teaching his students about science and technology through HABS for years.
          </p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/GSBC_Prize_Applications.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
          <img src="/winner_docs/SHARP.jpg" alt="">
        </div>
  
      <h2>Most Charitable Team</h2>
        <div class="fifty">
          <h3>1st place: MIT Space Balloon Team</h3>
          <h5>Prize: Phoenix Tracker from Titan Aerosolutions, 2 Arduinos</h5>
          <p>
            The MIT Space Balloon Team is the winner of this year’s “Most Charitable Team” prize. The MIT Space Balloon Team was founded in 2014 to help kickoff the first Global Space Balloon Challenge. For this year’s competition, the MIT team dedicated their space balloon launch to Shriners Hospital for Children, which provides highly specialized pediatric surgical care for children with severe burn injuries regardless of the patient's ability to pay. MIT raised over $5000 for this life-saving cause through a combination of fundraising, personal letters and local press. The team rallied support for their cause by launching the Shriners logo to the stratosphere from Boston, Massachusetts, USA. A highlight video of the flight and gifts flown on the payload were enthusiastically received by patients at the hospital – many of whom subsequently “declared they wanted to be astronauts or engineers.” Congratulations to MIT on yet another inspiring campaign.
          </p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/MIT_Space_Balloon_Team_-_Most_Charitable.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
        </div>
  
      <!-- <h2>Most Balloons Launched From a Single Site On a Single Day</h2> -->
      <h2>Most Educational Initiative</h2>
        <div class="fifty">
          <h3>1st Place: Museum of the Coastal Bend</h3>
          <h5>Prizes: HAB kit (includes inflator, eagle flight computer, 1200g balloon, spot GPS, payload frame, parachute, and HAB manual) and 1 350g balloon from High altitude science, 5 education electronics boards from TI</h5>
          <p>
            The winner of the “Most Educational Initiative” prize for GSBC 2015 is the Museum of the Coastal Bend at Victoria College. The Victoria College is a higher educational institution from the mid-coastal region of Texas, USA and The Museum of the Coastal Bend was established to showcase the history and heritage of the region. Their entry for the GSBC had two purposes: first, it carried science experiments designed by 6th grade students from Pinon Elementary School in Los Alamos, New Mexico; and second, it was part of the Museum of the Coastal Bend’s 2015 temporary exhibit “Above Texas Skies” which educates the public about the rich history of space exploration in Texas’ Coastal Bend region. The students studied the data from the launches, and also tracked it live (along with over a thousand members of the public) broadcast through live images during the balloon’s flight. Congratulations to the Museum of the Coastal Bend for an inspiring project that was able to effectively engage both students and the general public.
          </p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/2015_Global_Space_Balloon_Challenge.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
          <img src="/winner_docs/space-balloon.jpg" alt="">
        </div>
        
        <div class="fifty">
          <h3>2nd Place: Team ACES</h3>
          <h5>Prize: 5 education electronics boards from TI, 2 350g balloons and a 1m parachute from High Altitude Science</h5>
          <p>
            The second place prize for “Most Educational Initiative” goes to Team ACES. Team ACES is a collaboration between parent and volunteers engaged in promoting STEM education and Albert Cassen’s Elementary School in Glen Carbon, IL USA, including seven 5th grade teachers and their 170 students. The Team ACES entry into GSBC 2015 was designed to break the Guinness World Record for Highest Paper Plane Launch, as the school district had adopted aviation as a theme and used paper airplanes to teach concepts of force and motion. The students built multiple drop-test models before a final design was chosen and launched in front of the entire school, media, and even the mayor. They achieved an altitude of 107,811 ft, which is more than 10,000 ft above the current record (data and supporting documents are currently being evaluated by Guinness). Congratulations to Team ACES for successfully designing and executing an exciting project that supported existing curriculum while enhancing the educational experience.
          </p>        
        </div>
        <div class="fifty">
          <a href="/winner_docs/Team_ACES_GSBC.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>
          <img src="/winner_docs/aces.jpg" alt="">
        </div>
        
        <div class="fifty">
          <h3>3rd place: Blessed Sacrament School</h3>
          <h5>Prize: 5 education electronics boards from TI, 1 350g balloons and a 1m parachute from High Altitude Science</h5>
          <p>
            The third prize for “Most Educational Initiative” goes to Team BSS from the Blessed Sacrament School, Burlington, NC, USA. Blessed Sacrament School is a K-8 school and in the Fall of 2014, they introduced a year-long STEM project to integrate a HAB launch into their lessons. Middle school students designed and built the payload, while students from Kindergarten through 8th grade attended sessions about what a HAB is and how it works. Grade level appropriate lessons were integrated into the curriculum to inspire and ignite excitement for the launch at the Burlington Mini Maker Faire. The entire project involved all 165 students, 25 teachers and countless parents and community members, and beyond the launch the group has made literature available for community members, parents, educators from other schools and organizations who are interested in repeating the project. Congratulations to Team BSS for creating a meaningful, sustainable program for both the students and the community.
          </p>
        
        </div>
        <div class="fifty">
          <a href="/winner_docs/Global-Balloon-Challenge-Contest-Education.pdf" target="_blank" class="btn" style="margin-top: 30px; margin-left: auto; margin-right: auto;">Download Team Report</a>

          <img src="/winner_docs/sacrament.jpg" alt="">
        </div>
  
  </div>
</div>