<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.first_name %>,</p>

    <p>Thank you for signing up to participate in the Global Space Balloon Challenge! We are very excited to see what you launch!</p>

    <p>We want to do everything we can to help you successfully launch a High Altitude Balloon when the time comes. It is highly recommended that you start designing and building your balloon and payload now. See below for more tips and ideas and let us know if you have any questions!</p>

    <h3>Teams</h3>
    <p>You’ve created an account on the website, but you’re not yet part of a team. Either have a teammate add you to theirs or <a href="http://balloonchallenge.org/teams/new">create your own here</a>. This will be your official team for the launch in April. This is an important step, and we suggest you do it right away! You can see other teams that have signed up <a href="http://balloonchallenge.org/teams">here</a>.</p>

    <h3>Resources</h3>
    <p>To teach you more about flying High-Altitude Balloons, we’ve compiled some resources on the website that we think will be useful. The <a href="http://balloonchallenge.org/tutorials">tutorials page</a> gives an overview of the entire balloon system, what parts you need, and how to construct them. Also, if you’re a teacher or parent, the <a href="http://balloonchallenge.org/education">Educators page</a> will provide information on relevance to classes, course integration, lesson plans, and inspiration for your kids! </p>

    <h3>Building an HAB community</h3>
    <p>Spread the word about the challenge, and be sure to also check out the <a href="http://community.balloonchallenge.org">forum</a> on the website and post your ideas or questions.</p>

    <p>If you have any questions, don't hesitate to <a href="mailto:spaceballoonchallenge@gmail.com">send them our way</a> and we'll do everything we can to help you have a successful launch! And be sure to follow us on <a href="https://twitter.com/GSBChallenge">Twitter</a> and <a href="https://www.facebook.com/balloonchallenge">Facebook</a> for exciting updates and videos!</p>

    Fly high!
    -GSBC Team
  </body>
</html>
