<div id="map-canvas" style="width: 100%; height: 560px;">

<% content_for :script do %>
<script>
  $(document).on('page:load', initialize);
  $(document).on('page:change', initialize);
  function initialize() {
  var mapOptions = {
    center: { lat: 30, lng: 0},
    zoom: 2,
    minZoom: 2
  };
  var gm = google.maps;
  var map = new gm.Map(document.getElementById('map-canvas'),
      mapOptions);
  var oms = new OverlappingMarkerSpiderfier(map, {markersWontMove: true, markersWontHide: true, keepSpiderfied: true});
  var iw = new gm.InfoWindow();
  
  oms.addListener('click', function(marker, event) {
    iw.setContent(marker.desc);
    iw.open(map, marker);
  });
  oms.addListener('spiderfy', function(markers) {
    iw.close();
  });
   $.ajax(
      {
        type: "GET",
        url: "/teams/all",
        dataType: "json",
        success: function(data){
          for (var i=0; i < data.length; i++) {
            var drop = data[i];
            var dropLatLng = new gm.LatLng(parseFloat(drop.
              latitude), parseFloat(drop.longitude));

            var infoContent = '<a href="/teams/'+drop.id+'">'+'<h3>'+ drop.name + '</h3></a><h5>' + drop.city + '</h5>';
            if (drop.flew_2014 == true || drop.flew_2015 == true) {
            var marker = new gm.Marker({
              position: dropLatLng,
              map: map,
              title: drop.name,
              icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
            });
            infoContent = infoContent + '<br>Veteran team'

            } else {
            var marker = new gm.Marker({
              position: dropLatLng,
              map: map,
              title: drop.name
            });

            }
            marker.desc = infoContent
            oms.addMarker(marker);          
          };
        },
        error: function(jqxhr, status, error)
        {
          console.log("Error!");
        }
      }
    );
  window.setTimeout(function() {google.maps.event.trigger(map, 'resize'); }, 2000);

  }


  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<% end %>
