<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.first_name %>,</p>

    <p>Thank you for creating <%= @team.name %>! We’re really excited to have you, and are excited about what your group will launch into the sky between April 10th to 27th. You can already see your team on our <a href="http://balloonchallenge.org/teams">world map</a> with all the other teams!</p>

    <p>Please head to the <a href="http://community.balloonchallenge.org/">forum</a> and introduce your team to the GSBC community!</p>

    <p>Leading a team is difficult, and we understand that there are many technological, legal, financial, and management issues you might run into while trying to build your project. Our <a href="http://balloonchallenge.org/tutorials">tutorials</a> page has lots of information that can help you get started or take your ballooning to the next level. The <a href="http://community.balloonchallenge.org/">forum</a> is also a great place to learn from others and ask any questions you might have. And if you need anything, we are here to help, so please don’t hesitate to <a href="mailto:spaceballoonchallenge@gmail.com">reach out if you have questions</a>.</p>

    <p>Once again, we’re excited that you’ve chosen to be part of the GSBC and we’re working really hard so that every team can succeed this coming year.</p>

    Fly High,
    GSBC Team
  </body>
</html>