footer {
    background: image-url('header_bg.JPG') center center;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 17px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    left: -10px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    a {
        color: #fff !important;
    }
    p {
        font-size: 0.8em !important;
        &.left {
            display: inline-block;
            padding-left: 15px;
            text-align: center;
            padding: 10px;
            box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,.3);
            background: rgba(0,0,0,.2);
        }
    }
    .social {
        display: inline-block;
        margin: 0px 10px;
        .share {
            display: inline-block;
            margin: 0px 5px;
            vertical-align: top;
            .btn {
                margin-top: -10px;
            }
        }
    }
}
