footer {
    background: image-url('header_bg.JPG') center center;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 17px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    left: -10px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    a {
        color: #fff !important;
    }
}
