@import "mixins.scss";
@import "http://fonts.googleapis.com/css?family=Maven+Pro";

html {
    height: 100%;
}

body {
  font-family: "Maven Pro", sans-serif;
  background: #fafafa;
  background: url(image-path('main_bg.png'));
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
  p {
      font-size: 1.2em;
  }
  a {
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      color: inherit;
      text-decoration: none;
      padding-bottom: 5px;
      border-bottom: 0px solid rgba(0, 0, 0, 0.4);
   }
   a:hover {
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      border-bottom: 3px solid rgba(0, 0, 0, 0.4);
   }
   a.btn {
      transition: 0.1s;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      display: block;
      width: 250px;
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      padding: 10px 25px;
      border-radius: 3px;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      color: rgba(0, 0, 0, 0.7);
      text-shadow: none;
      margin: 40px 0px;
      position: relative;
      top: 0px;
      cursor: pointer;
      &.inline {
          display: inline;
          margin: 10px;
          box-shadow: none;
          font-size: 0.8em;
      }
      &.noShadow {
          box-shadow: none;
      }
    }
    a.btn:hover {
        transition: 0.1s;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        position: relative;
        top: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    .btn.callToAction {
        display: inline-block;
    }
    .container {
        min-height: 80%;
    }
}

.primary.section {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px 30px;
    border: 1px solid rgba(0,0,0,.3);
    border-bottom: 2px solid rgba(0,0,0,.3);
    border-radius: 3px;
    background: rgba(255,255,255,.9);
    background: url(image-path('light_bg.png'));
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,.1);
    min-height: 80%;
    .content {
        margin: 10px auto;
        max-width: 80%;
        padding: 20px;
        font-size: 1.2em;
    }
}

.alternate {
    margin: 5px auto;
    width: 80%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 20px;
    font-size: 1.2em;
    .text {
        max-width: 50%;
        display: inline-block;
        margin-right: 10%;
        vertical-align: middle;
        min-width: 300px;
    }
    .img {
        text-align: center;
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        img {
            max-height: 200px;
            margin: 5px auto;
        }
    }
    &:nth-child(3n+3) {
        text-align: right;
        .text {
            margin-right: auto;
            margin-left: 10%;
        }
    }
}

.underline {
    margin: 10px auto;
    width: 80%;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 3em;
    &.medium {
        font-size: 2em;
        text-align: left;
        margin: 0px;
    }
    &.smaller {
        font-size:1.2em;
        text-align: left;
        margin: 10px;
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"], textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
}

input[type="submit"] {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(255,255,255,.7);
    font-size: 1em;
    font-family: inherit;
    margin: 10px;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    min-width: 150px;
}

.faq {
    display: inline-block;
    width: 33%;
    margin: 10px;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0,0,0,.2);
    border-radius: 3px;
    min-height: 230px;
    max-width: 230px;
    .question {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}

.tutorials {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.tutorial {
    @include transition(0.2s);
    border-left: 1px solid rgba(0,0,0,.2);
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom: 2px solid rgba(0,0,0,.2);
    border-radius: 3px;
    font-size: 1.2em;
    a {
        font-size: 1.5em;
        &:hover {
            border-bottom: none;
        }
    }
    &:hover {
        @include transition(0.2s);
        border-left: 4px solid rgba(0,0,0,.3);
        padding-left: 15px;
    }
}

.tutorialBox {
    min-width: 200px;
    max-width: 300px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 10px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
}

.teams {
    .team {
        list-style-type: none;
        padding: 10px;
        border: 1px solid rgba(0,0,0,.1);
        margin: 10px -40px;
        max-width: 95%;
        min-width: 200px;
        border-radius: 3px;
        border-bottom: 2px solid rgba(0,0,0,.1);
    }
}

#discourse-comments {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.2);
    margin: 10px auto;
    margin-top: 40px;
}

@media(max-width: 725px) {
    .alternate {
        text-align: left !important;
        .text {
            margin-right: auto;
            margin-left: auto !important;
        }
        .img {
            display: none;
        }
    }
}
