@import "mixins.scss";
@import "http://fonts.googleapis.com/css?family=Maven+Pro";

html {
    height: 100%;
    max-width: 100%;
    padding:0;
    margin:0;
}

body {
  font-family: "Maven Pro", sans-serif;
  background: #fafafa;
  background: url(image-path('main_bg.png'));
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  p {
      font-size: 1.2em;
  }
  a {
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      color: #2980b9;
      text-decoration: none;
      padding-bottom: 5px;
      border-bottom: 0px solid rgba(0, 0, 0, 0.4);
      &.small {
          text-align: right;
          font-size: .4em;
          display: inline-block;
      }
  }
   a:hover {
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      border-bottom: 3px solid rgba(0, 0, 0, 0.4);
   }
   a.btn {
      transition: 0.1s;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      display: block;
      width: 250px;
      text-align: center;
      background: rgba(255, 255, 255, 0.9);
      padding: 10px 25px;
      border-radius: 3px;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      color: rgba(0, 0, 0, 0.7);
      text-shadow: none;
      margin: 40px 0px;
      position: relative;
      top: 0px;
      cursor: pointer;
      &.inline {
          display: inline-block;
          margin: 10px;
          box-shadow: none;
          font-size: 0.8em;
          border: 1px solid rgba(0,0,0,.1);
          border-bottom: 2px solid rgba(0,0,0,.4);
          background: rgba(0,0,0,.1);
      }
      &.noShadow {
          box-shadow: none;
      }
      &.small {
        width: 100px;
        margin: 0;
        background: rgba(0,0,0,.1);
      }
      &.full {
          width: 500px;
          max-width: 83%;
      }
    }
    a.btn:hover {
        transition: 0.1s;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        position: relative;
        top: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    .btn.callToAction {
        display: inline-block;
        max-width: 35%;
        vertical-align: top;
        margin-top: auto;
        &.dontSquish {
            min-width: 200px;
        }
        @media (max-width: 500px) {
            display: block;
            max-width: 80%;
            margin-left: 5%;
        }
    }
    .container {
        min-height: 85%;
    }
}

label {
  display: block;

  &.inline {
    display: inline
  }
}

.primary.section {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px 30px;
    border: 1px solid rgba(0,0,0,.3);
    border-bottom: 2px solid rgba(0,0,0,.3);
    border-radius: 3px;
    background: #fff;
    //background: url(image-path('light_bg.png'));
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,.1);
    min-height: 80%;
    .content {
        margin: 10px auto;
        max-width: 80%;
        padding: 20px;
        font-size: 1em;
        .blockImg {
            margin: 10px auto;
            text-align: center;
            //max-height: 350px;
            img {
                max-height: 100%;
            }
        }
        .inlineImg {
            margin: 10px auto;
            text-align: center;
            img {
                display: inline-block;
                max-width: 45%;
                margin: 10px auto;
                max-height: 350px;
            }
        }
    }
}

.alternate {
    margin: 5px auto;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 20px;
    font-size: 1.2em;
    .text {
        max-width: 50%;
        display: inline-block;
        //margin-right: 10%;
        vertical-align: top;
        min-width: 300px;
        //text-align:right;
    }
    .img {
        text-align: center;
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin-top: 25px;
        img {
            max-height: 500px;
            margin: 5px auto;
            width: 90%;
            border-radius: 3px;
            box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
        }
    }
}

.underline {
    margin: 10px auto;
    width: 80%;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 3em;
    text-align:center;
    &.medium {
        font-size: 2em;
        text-align: left;
        margin: 0px;
    }
    &.smaller {
        font-size:1.2em;
        text-align: left;
        margin: 10px;
    }
    span {
        display: inline-block;
    }
    .links {
        display: inline-block;
        margin: 0px 30px;
        position: absolute;
        right: 15%;
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"], textarea {
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
}

input[type="submit"] {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(255,255,255,.7);
    font-size: 1em;
    font-family: inherit;
    margin: 10px;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    min-width: 150px;
}

textarea {
    color: rgba(0,0,0,.5);
    min-height: 150px;
}

.faq {
    display: inline-block;
    width: 33%;
    margin: 10px;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0,0,0,.2);
    border-radius: 3px;
    min-height: 230px;
    max-width: 230px;
    .question {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}

.tutorials {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.tutorial {
    @include transition(0.2s);
    border-left: 1px solid rgba(0,0,0,.2);
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom: 2px solid rgba(0,0,0,.2);
    border-radius: 3px;
    font-size: 1.2em;
    a {
        font-size: 1em;
        &:hover {
            border-bottom: none;
        }
    }
    &:hover {
        @include transition(0.2s);
        border-left: 4px solid rgba(0,0,0,.3);
        padding-left: 15px;
    }
}

.tutorialBox {
    min-width: 100px;
    max-width: 28%;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 5px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    //min-height: 435px;
    font-size:.8em;
    &.full {
        max-width: 100% !important;
        min-height: 10px;
        .tutorial {
            display: inline-block;
        }
    }
    &.wider {
        max-width: 60%;
    }
}

.tutorialLinks {
    display: inline-block;
    width:70%;
}

.graphic {
    display: inline-block;
    width:25%;
    vertical-align: top;
    text-align: right;
    img {
        width: 80%;
    }
}

.teams {
    .team {
        list-style-type: none;
        padding: 10px;
        border: 1px solid rgba(0,0,0,.1);
        margin: 10px -40px;
        max-width: 95%;
        min-width: 200px;
        border-radius: 3px;
        border-bottom: 2px solid rgba(0,0,0,.1);
        a {
            color: inherit;
            &:hover {
                border-bottom: none;
            }
        }
    }
}

.gallery {
    margin: 10px auto;
    text-align: center;
    a {
        &:hover {
            border-bottom: none;
        }
        img {
            max-height: 280px;
            max-width: 100%;
            display: inline-block;
            margin: 5px;
            border-radius:3px;
            cursor: pointer;
            vertical-align: top;
            border: 3px solid #fff;
            box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
        }
    }
}

#discourse-comments {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.2);
    margin: 10px auto;
    margin-top: 40px;
}

.contact {
    list-style-type: none;
    margin-left: -30px;
}

strong {
    font-weight: bolder;
    color: black;
}

#map-canvas {
  height: 100%;
  margin:0;
  padding: 0;
}

.center {
    text-align: center;
    margin: 5px auto;
}

.sweet-alert {
    font-family: inherit !important;
    h2 {
        line-height: 40px !important;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure {
    max-width: 90%;
    img {
        max-width: 100%;
    }
}

.big {
    font-size: 1.5em;
}

.tripleImg {
    img {
        width: 30%;
        max-width: 100%;
        min-width: 100px;
    }
}

.slideshow {
    img {
        width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
}

.fifty {
    input[type="text"], input[type="password"], input[type="email"], textarea {
        width:80%;
    }

    &.image {
        width: 95%;
        margin: 0 auto;
        img {
            max-width: 100%;
            max-height: 300px;
        }
    }
}

.people {
    width:100%;
    margin: 10px auto;
    text-align: center;
    .person {
        list-style-type: none;
        display: inline-block;
        max-width: 300px;
        vertical-align: top;
        //margin: 15px 10px;
        padding: 25px 10px;
        text-align: center;
        border-radius: 3px;
        //border-top: 5px solid rgba(0,0,0,.1);
        img {
            height: 100px;
            border-radius: 100%;
            border: 3px solid rgba(255,255,255,1);
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,.2);
        }
        .more {
            font-size: 0.7em;
            a {
                &:hover {
                    color: inherit;
                    border-bottom: none;
                }
            }
        }
    }
}


.pageMenu {
    margin: 10px auto;
    text-align: center;
    a {
        display: inline-block;
        padding: 10px;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 3px;
        color: inherit;
        margin: 10px -2px;
    }
}

.team-description, .plan, .why_join, .url {
    margin: 10px 0px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0,0,0,.2);
    strong {
        color: rgba(0,0,0,0.7);
    }
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}

.extraSpace {
    margin-bottom: 55px !important;
    background: image-url('light_bg.png') !important;
}

.inlineContainer {
    margin: 10px auto;
    text-align: center;
    img {
        vertical-align: top;
        margin: 20px;
        max-height: 100px;
    }
}

.counter {
    font-size: 2em;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,.1);
    width: 80%;
    margin: 10px auto;
}

img {
    max-width: 100% !important;
}

@media(max-width: 1000px) {
    .fifty.image {
        margin-left: 0px !important;
    }
    .graphic {
        display: none;
    }
    .tutorialLinks {
        width: 100%;
    }
}

@media(max-width: 725px) {
    .alternate {
        text-align: left !important;
        .text {
            margin-right: auto;
            margin-left: auto !important;
        }
        .img {
            display: none;
        }
    }
}

@media(max-width: 600px) {
    .links {
        position: relative !important;
        right: 0 !important;
    }
}

@media(max-width:400px) {
    body {
        font-size: 0.8em;
    }
    .section {
        padding-left: 0px !important;
    }
    .loading {
        padding: 0px !important;
    }
    .tutorials {
        width: 100% !important;
    }
    .faq {
        margin: 10px -30px;
        width:85%;
    }
    .affiliates.section .threeVerticalContainer .threeVertical ul li {
        margin: 10px -20px !important;
        display: block !important;
        width: 100% !important;
    }
    .team_buttons a,
    .info_buttons a {
        width: 100px !important;
    }
    .btn {
        width: 200px !important;
    }
}
