header {
    background: url("/header_bg_dark.jpg") center center;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-right: 15px;
    overflow-x:hidden;
    top: -10px;
    left: -10px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px 1px #000;
    .content {
        text-align: center;
        
        width: 100%;
        height: 100%;
        position: relative;
        left: -10px;
        top: 1px;
        padding: 5px;
    }
    .logo {
        display: inline-block;
        vertical-align: middle;
        img {
            width: 85px;
        }
    }
    nav {
        display: inline-block;
        ul {
            li {
                display: inline-block;
                margin: 10px;
                a {
                    color: #fff;
                }
            }
        }

        &.right_headers {
            text-align: right;
            font-size: .8em;
        }
    }
}
