.hero {
    color: rgba(255,255,255,.8);
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    .left {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        min-width: 500px
    }
    .right {
        width: 45%;
        display: inline-block;
        padding: 4%;
        font-size: 1.5em;
        text-align: left;
        vertical-align: middle;
        min-width: 500px
    }
}
