.hero {
    color: rgba(255,255,255,.8);
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    .left {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        min-width: 500px
    }
    .right {
        width: 45%;
        display: inline-block;
        padding: 4%;
        font-size: 1.5em;
        text-align: left;
        vertical-align: middle;
        min-width: 500px
    }
}

.affiliates.section {
    background: url('light_bg.png');
    width: 100%;
    position: relative;
    left: -10px;
    padding: 10px;
    box-shadow: 1px 0px 3px 1px #000;
    .threeContainer {
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
    .three {
        display: inline-block;
        font-size: 1.6em;
        margin: 20px;
        width: 25%;
        min-width: 200px;
        ul {
            list-style-type: none;
        }
        img {
            max-height: 150px;
        }
    }
    .threeVerticalContainer {
        width: 80%;
        margin: 10px auto;
        text-align: center;
        font-size: 1.7em;
        .threeVertical {
            ul li {
                display: inline-block;
                width: 25%;
                min-width: 200px;
                margin: 10px;
                img {
                    width: 95%;
                }
            }
        }
    }
}
