.hero {
    color: rgba(255,255,255,.8);
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
    .left {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        min-width: 500px
    }
    .right {
        width: 45%;
        display: inline-block;
        padding: 4%;
        font-size: 1.5em;
        text-align: left;
        vertical-align: middle;
        min-width: 500px
    }
}

.affiliates.section {
    background: url('/assets/light_bg.png');
    width: 100%;
    position: relative;
    left: -10px;
    padding: 10px;
    .threeContainer {
        width: 80%;
        margin: 10px auto;
    }
    .three {
        display: inline-block;
        font-size: 1.6em;
        margin: 20px;
        width: 25%;
        img {
            width: 95%;
        }
    }
}
