.product {
    .image {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        margin: 40px;
        .slideshow {
            width: 80%;
            .slick-next:before {
                content: '>';
                color: rgba(0,0,0,.6);
            }
            .slick-prev:before {
                content: '<';
                color: #fff;
                color: rgba(0,0,0,.6);
            }
        }
    }
    .info {
        display: inline-block;
        width: 45%;
        vertical-align: middle;
        font-size: .9em;
        .underline {
            margin-left: 0px;
            margin-top: 0px;
        }
    }
}
