// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team_data {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
}


.email_field {
  max-width: 400px;
}

.members_list {
  li {
    margin-top: 5px;
    float: clear;
    width:90%;
    a.right {
      float: right;
      &:hover {
        text-decoration: none;
        border-bottom: none;
      }
    }
  }
}

.account_warn {
  max-width:200px;
  display:inline-block;
}

.team_email {
  display: inline-block;  
}

.email_field {
  display: inline-block;
  vertical-align: top;
}

// Sign up

.half {
  width: 45%;
  max-width: 50%;
  display: inline-block;

  @media (max-width: 900px) {
    width: 100%;
    max-width: 100%;
  }
}

.ages {
  .age_range {
    margin-right: 7px;
    padding-left: 2px;
  }
}

.permission {
  display: inline-block;
  max-width: 80%;
}